<a href="https://colab.research.google.com/github/LeonardoHyppolito/Estudos/blob/main/analise_com_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Prática, do capítulo "Analisando dados com pandas" do curso Método Voyager.**





*   IMPORTANDO ARQUIVO CSV

In [1]:
# Primeiro vamos chamar a biblioteca pandas para trabalhar com a gente. 
import pandas as pd

In [2]:
# Agora, nos definimos uma variável "df", sendo o que o pandas lê do arquivo csv que importamos. 
df = pd.read_csv("campeonato-brasileiro-full.csv")

In [3]:
# Método head.(), por padrão nos mostra as 5 primeiras linhas do df, ou se quisermos passamos o numero de linhas desejado como parâmetro.
df.head()

,ID,rodada,data,hora,dia,mandante,visitante,formacao_mandante,formacao_visitante,tecnico_mandante,tecnico_visitante,vencedor,arena,mandante_placar,visitante_placar,mandante_estado,visitante_estado,estado_vencedor
0,1,1,2003-03-29,16:00,Sabado,Guarani,Vasco,NaN,NaN,NaN,NaN,Guarani,brinco de ouro,4,2,SP,RJ,SP
1,2,1,2003-03-29,16:00,Sabado,Athletico-PR,Gremio,NaN,NaN,NaN,NaN,Athletico-PR,arena da baixada,2,0,PR,RS,PR
2,3,1,2003-03-30,16:00,Domingo,Flamengo,Coritiba,NaN,NaN,NaN,NaN,-,maracana,1,1,RJ,PR,-
3,4,1,2003-03-30,16:00,Domingo,Goias,Paysandu,NaN,NaN,NaN,NaN,-,serra dourada,2,2,GO,PA,-
4,5,1,2003-03-30,16:00,Domingo,Internacional,Ponte Preta,NaN,NaN,NaN,NaN,-,beira rio,1,1,RS,SP,-

In [4]:
#Método .tail(), nos mostra as ultimas linhas do df, a quantidade padrão é 5, ou o numero de linhas desejado é passado como parãmetro. 
df.tail()

,ID,rodada,data,hora,dia,mandante,visitante,formacao_mandante,formacao_visitante,tecnico_mandante,tecnico_visitante,vencedor,arena,mandante_placar,visitante_placar,mandante_estado,visitante_estado,estado_vencedor
7640,7641,38,2021-12-12,21:33,Domingo,Bragantino,Internacional,4-2-3-1,3-4-2-1,D. Aguirre Camblor,D. Aguirre Camblor,Bragantino,nabizao,1,0,SP,RS,SP
7641,7642,38,2021-12-12,21:30,Domingo,Sport,Athletico-PR,4-2-3-1,3-4-2-1,J. Freitas,J. Freitas,-,arena de pernambuco,1,1,PE,PR,-
7642,7643,38,2021-12-12,21:33,Domingo,Juventude,Corinthians,3-4-3,4-3-3,S. Campos Junior,S. Campos Junior,Juventude,alfredo jaconi,1,0,RS,SP,RS
7643,7644,38,2021-12-12,21:33,Domingo,Gremio,Atletico-MG,4-2-3-1,4-2-3-1,A. Stival,A. Stival,Gremio,arena do gremio,4,3,RS,MG,RS
7644,7645,38,2021-12-12,21:33,Domingo,Santos,Cuiaba,3-4-2-1,4-4-2,J. de Amorim Campos,J. de Amorim Campos,-,estadio urbano caldeira,1,1,SP,MT,-

insight: Observando o conjunto de dados comparando o resultado do .head() com o resultado do .tail() podemos pensar que possivelmente temos mais dados faltantes nos primeiros anos do que nos anos mais recentes.

**Primeira Inspeção nos dados**

In [5]:
# Este método nos permite com apenas uma linha de código, obter indormações gerais do nosso conjunto de dados. Um bom começo ! 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7645 entries, 0 to 7644
Data columns (total 18 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ID                  7645 non-null   int64
 1   rodada              7645 non-null   int64
 2   data                7645 non-null   object
 3   hora                7645 non-null   object
 4   dia                 7645 non-null   object
 5   mandante            7645 non-null   object
 6   visitante           7645 non-null   object
 7   formacao_mandante   2671 non-null   object
 8   formacao_visitante  2671 non-null   object
 9   tecnico_mandante    3035 non-null   object
 10  tecnico_visitante   3035 non-null   object
 11  vencedor            7645 non-null   object
 12  arena               7645 non-null   object
 13  mandante_placar     7645 non-null   int64
 14  visitante_placar    7645 non-null   int64
 15  mandante_estado     7645 non-null   object
 16  visitante_estado    7645 non-null   object
 17  estado_vencedor     7645 non-null   object
dtypes: int64(4), object(14)
memory usage: 1.1+ MB

insight: Aqui descobrimos que o df possui 18 colunas, 4 delas com valores do tipo inteiro, e 14 delas com valores do tipo objeto. 
  Podemos levantar um questionamento: **Por que algumas colunas, por exemplo, as de index: 7, 8, 9, 10 possuem menos linhas ?**

In [6]:
df.describe()

                ID       rodada  mandante_placar  visitante_placar
count  7645.000000  7645.000000      7645.000000       7645.000000
mean   3823.000000    20.196207         1.554088          1.027338
std    2207.065737    11.489249         1.234262          1.030366
min       1.000000     1.000000         0.000000          0.000000
25%    1912.000000    10.000000         1.000000          0.000000
50%    3823.000000    20.000000         1.000000          1.000000
75%    5734.000000    30.000000         2.000000          2.000000
max    7645.000000    46.000000         7.000000          7.000000

In [7]:
# Por padrão o df.describe() nos retorna algumas estatísticas descritivas, porém somente das variáveis numéricas.

In [8]:
#Existe um parâmetro que podemos passar, para que o df.describe() também analise as features de valores não numericos.

In [9]:
# Aqui passamos um parâmetro "include" = O, pois como vimos no df.info as demais features possuem valores do tipo Objeto. 
df.describe(include="O")

,data,hora,dia,mandante,visitante,formacao_mandante,formacao_visitante,tecnico_mandante,tecnico_visitante,vencedor,arena,mandante_estado,visitante_estado,estado_vencedor
count,7645,7645,7645,7645,7645,2671,2671,3035,3035,7645,7645,7645,7645,7645
unique,1711,176,7,45,45,21,20,178,178,46,152,15,15,16
top,2021-11-11,16:00,Domingo,Sao Paulo,Flamengo,4-2-3-1,4-2-3-1,V. Carmo Mancini,V. Carmo Mancini,-,maracana,SP,SP,-
freq,27,1808,3561,371,372,1600,1525,100,100,2015,562,1907,1907,2015

In [10]:
# Podemos também passar um "all", como parâmetro do include, e isso fará com que o describe retorne todo o conjunto de dados. 
df.describe(include="all")

,ID,rodada,data,hora,dia,mandante,visitante,formacao_mandante,formacao_visitante,tecnico_mandante,tecnico_visitante,vencedor,arena,mandante_placar,visitante_placar,mandante_estado,visitante_estado,estado_vencedor
count,7645.000000,7645.000000,7645,7645,7645,7645,7645,2671,2671,3035,3035,7645,7645,7645.000000,7645.000000,7645,7645,7645
unique,NaN,NaN,1711,176,7,45,45,21,20,178,178,46,152,NaN,NaN,15,15,16
top,NaN,NaN,2021-11-11,16:00,Domingo,Sao Paulo,Flamengo,4-2-3-1,4-2-3-1,V. Carmo Mancini,V. Carmo Mancini,-,maracana,NaN,NaN,SP,SP,-
freq,NaN,NaN,27,1808,3561,371,372,1600,1525,100,100,2015,562,NaN,NaN,1907,1907,2015
mean,3823.000000,20.196207,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.554088,1.027338,NaN,NaN,NaN
std,2207.065737,11.489249,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.234262,1.030366,NaN,NaN,NaN
min,1.000000,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,NaN,NaN,NaN
25%,1912.000000,10.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,0.000000,NaN,NaN,NaN
50%,3823.000000,20.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,1.000000,NaN,NaN,NaN
75%,5734.000000,30.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.000000,2.000000,NaN,NaN,NaN
max,7645.000000,46.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.000000,7.000000,NaN,NaN,NaN

In [11]:
# Porém é importante reparar que muitos dados estão com o valor "Nan", isso porque muitas dessas variáveis não possuem estatísticas 
# Por exemplo: Não faz sentido pensar na media dos mandantes.

**Funções Integradas**

In [12]:
#Muitas das funções que vimos anteriormente, podem ser aplicadas em um df.

In [13]:
# Type df 
type(df)

pandas.core.frame.DataFrame

In [14]:
#Numero de observações 
len(df)

7645

In [15]:
# Arredondar esse df não faz sentido, pois as variáveis numéricas são do tipo int. 
round(df)

,ID,rodada,data,hora,dia,mandante,visitante,formacao_mandante,formacao_visitante,tecnico_mandante,tecnico_visitante,vencedor,arena,mandante_placar,visitante_placar,mandante_estado,visitante_estado,estado_vencedor
0,1,1,2003-03-29,16:00,Sabado,Guarani,Vasco,NaN,NaN,NaN,NaN,Guarani,brinco de ouro,4,2,SP,RJ,SP
1,2,1,2003-03-29,16:00,Sabado,Athletico-PR,Gremio,NaN,NaN,NaN,NaN,Athletico-PR,arena da baixada,2,0,PR,RS,PR
2,3,1,2003-03-30,16:00,Domingo,Flamengo,Coritiba,NaN,NaN,NaN,NaN,-,maracana,1,1,RJ,PR,-
3,4,1,2003-03-30,16:00,Domingo,Goias,Paysandu,NaN,NaN,NaN,NaN,-,serra dourada,2,2,GO,PA,-
4,5,1,2003-03-30,16:00,Domingo,Internacional,Ponte Preta,NaN,NaN,NaN,NaN,-,beira rio,1,1,RS,SP,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7640,7641,38,2021-12-12,21:33,Domingo,Bragantino,Internacional,4-2-3-1,3-4-2-1,D. Aguirre Camblor,D. Aguirre Camblor,Bragantino,nabizao,1,0,SP,RS,SP
7641,7642,38,2021-12-12,21:30,Domingo,Sport,Athletico-PR,4-2-3-1,3-4-2-1,J. Freitas,J. Freitas,-,arena de pernambuco,1,1,PE,PR,-
7642,7643,38,2021-12-12,21:33,Domingo,Juventude,Corinthians,3-4-3,4-3-3,S. Campos Junior,S. Campos Junior,Juventude,alfredo jaconi,1,0,RS,SP,RS
7643,7644,38,2021-12-12,21:33,Domingo,Gremio,Atletico-MG,4-2-3-1,4-2-3-1,A. Stival,A. Stival,Gremio,arena do gremio,4,3,RS,MG,RS
7644,7645,38,2021-12-12,21:33,Domingo,Santos,Cuiaba,3-4-2-1,4-4-2,J. de Amorim Campos,J. de Amorim Campos,-,estadio urbano caldeira,1,1,SP,MT,-

**ATRIBUTOS  X   MÉTODOS**

In [16]:
# Atributos são as propriedades dos objetos.

Atributos

In [17]:
# Numero linhas e colunas, em uma tupla
df.shape

(7645, 18)

In [18]:
# o computador retornar em tupla, pode ser interessante para atribuirmos variáveis para cada valor presente na tupla: 
linhas, colunas = (df.shape)

In [19]:
print(linhas)

7645

In [20]:
print(colunas)

18

In [21]:
#Tamanho do df = linhas * colunas 
df.size

137610

In [22]:
# range do index
df.index

RangeIndex(start=0, stop=7645, step=1)

In [23]:
# retorna as colunas 
df.columns

Index(['ID', 'rodada', 'data', 'hora', 'dia', 'mandante', 'visitante',
       'formacao_mandante', 'formacao_visitante', 'tecnico_mandante',
       'tecnico_visitante', 'vencedor', 'arena', 'mandante_placar',
       'visitante_placar', 'mandante_estado', 'visitante_estado',
       'estado_vencedor'],
      dtype='object')

**Métodos**

In [24]:
# Ações que um objeto pode realizar

In [25]:
# Primeiras linhas 
df.head()

,ID,rodada,data,hora,dia,mandante,visitante,formacao_mandante,formacao_visitante,tecnico_mandante,tecnico_visitante,vencedor,arena,mandante_placar,visitante_placar,mandante_estado,visitante_estado,estado_vencedor
0,1,1,2003-03-29,16:00,Sabado,Guarani,Vasco,NaN,NaN,NaN,NaN,Guarani,brinco de ouro,4,2,SP,RJ,SP
1,2,1,2003-03-29,16:00,Sabado,Athletico-PR,Gremio,NaN,NaN,NaN,NaN,Athletico-PR,arena da baixada,2,0,PR,RS,PR
2,3,1,2003-03-30,16:00,Domingo,Flamengo,Coritiba,NaN,NaN,NaN,NaN,-,maracana,1,1,RJ,PR,-
3,4,1,2003-03-30,16:00,Domingo,Goias,Paysandu,NaN,NaN,NaN,NaN,-,serra dourada,2,2,GO,PA,-
4,5,1,2003-03-30,16:00,Domingo,Internacional,Ponte Preta,NaN,NaN,NaN,NaN,-,beira rio,1,1,RS,SP,-

In [26]:
# Informações macro do meu conjunto de dados 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7645 entries, 0 to 7644
Data columns (total 18 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ID                  7645 non-null   int64
 1   rodada              7645 non-null   int64
 2   data                7645 non-null   object
 3   hora                7645 non-null   object
 4   dia                 7645 non-null   object
 5   mandante            7645 non-null   object
 6   visitante           7645 non-null   object
 7   formacao_mandante   2671 non-null   object
 8   formacao_visitante  2671 non-null   object
 9   tecnico_mandante    3035 non-null   object
 10  tecnico_visitante   3035 non-null   object
 11  vencedor            7645 non-null   object
 12  arena               7645 non-null   object
 13  mandante_placar     7645 non-null   int64
 14  visitante_placar    7645 non-null   int64
 15  mandante_estado     7645 non-null   object
 16  visitante_estado    7645 non-null   object
 17  estado_vencedor     7645 non-null   object
dtypes: int64(4), object(14)
memory usage: 1.1+ MB

In [27]:
# Valor mínimo de cada coluna 
df.min()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.

ID                                1
rodada                            1
data                     2003-03-29
hora                          00:00
dia                         Domingo
mandante                 America-MG
visitante                America-MG
vencedor                          -
arena               a campanella pf
mandante_placar                   0
visitante_placar                  0
mandante_estado                  AL
visitante_estado                 AL
estado_vencedor                   -
dtype: object

In [28]:
#Maximo de cada coluna 
df.max()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.

ID                                 7645
rodada                               46
data                         2021-12-12
hora                              22:50
dia                         Terça-feira
mandante                        Vitoria
visitante                       Vitoria
vencedor                        Vitoria
arena               wilson de barros pf
mandante_placar                       7
visitante_placar                      7
mandante_estado                      SP
visitante_estado                     SP
estado_vencedor                      SP
dtype: object

In [29]:
#Média dos valores numéricos do meu conjunto de dados 
df.mean()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.

ID                  3823.000000
rodada                20.196207
mandante_placar        1.554088
visitante_placar       1.027338
dtype: float64

In [30]:
# retorna quais são as chaves, nesse caso as colunas. 
df.keys()

Index(['ID', 'rodada', 'data', 'hora', 'dia', 'mandante', 'visitante',
       'formacao_mandante', 'formacao_visitante', 'tecnico_mandante',
       'tecnico_visitante', 'vencedor', 'arena', 'mandante_placar',
       'visitante_placar', 'mandante_estado', 'visitante_estado',
       'estado_vencedor'],
      dtype='object')

In [31]:
# Mediana das colunas numéricas 
df.median()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.

ID                  3823.0
rodada                20.0
mandante_placar        1.0
visitante_placar       1.0
dtype: float64

**Encadeamento de métodos**

In [32]:
# Apenas um método 
df.mean()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.

ID                  3823.000000
rodada                20.196207
mandante_placar        1.554088
visitante_placar       1.027338
dtype: float64

In [33]:
# Aplicando métodos em cima de métodos.
df.mean().sort_values().head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.

visitante_placar       1.027338
mandante_placar        1.554088
rodada                20.196207
ID                  3823.000000
dtype: float64

In [34]:
# Por curiosidade vou tentar aplicar um atributo nesse encadeamento de métodos. 
df.mean().sort_values().head().round(2)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.

visitante_placar       1.03
mandante_placar        1.55
rodada                20.20
ID                  3823.00
dtype: float64

**Selecionando colunas**

In [35]:
df.head()

,ID,rodada,data,hora,dia,mandante,visitante,formacao_mandante,formacao_visitante,tecnico_mandante,tecnico_visitante,vencedor,arena,mandante_placar,visitante_placar,mandante_estado,visitante_estado,estado_vencedor
0,1,1,2003-03-29,16:00,Sabado,Guarani,Vasco,NaN,NaN,NaN,NaN,Guarani,brinco de ouro,4,2,SP,RJ,SP
1,2,1,2003-03-29,16:00,Sabado,Athletico-PR,Gremio,NaN,NaN,NaN,NaN,Athletico-PR,arena da baixada,2,0,PR,RS,PR
2,3,1,2003-03-30,16:00,Domingo,Flamengo,Coritiba,NaN,NaN,NaN,NaN,-,maracana,1,1,RJ,PR,-
3,4,1,2003-03-30,16:00,Domingo,Goias,Paysandu,NaN,NaN,NaN,NaN,-,serra dourada,2,2,GO,PA,-
4,5,1,2003-03-30,16:00,Domingo,Internacional,Ponte Preta,NaN,NaN,NaN,NaN,-,beira rio,1,1,RS,SP,-



*   **Existem duas formas de acessar colunas específicas:**


1.   Conceito de colchetes e aspas. 
Este modo é interessante para casos em que as colunas do df não seguem as normas da linguagem python, isto é, por exemplo, colunas com nomes composto que são separadas por espaços e não por "_". Neste caso, a única forma de acessa-las é com o conceito de colchetes e aspas, como se estivéssemos acessando um pedaço do df.

In [36]:
# Utilzando colchetes 
df["rodada"]

0        1
1        1
2        1
3        1
4        1
        ..
7640    38
7641    38
7642    38
7643    38
7644    38
Name: rodada, Length: 7645, dtype: int64

In [37]:
df["visitante"]

0               Vasco
1              Gremio
2            Coritiba
3            Paysandu
4         Ponte Preta
            ...
7640    Internacional
7641     Athletico-PR
7642      Corinthians
7643      Atletico-MG
7644           Cuiaba
Name: visitante, Length: 7645, dtype: object

In [38]:
# Utilizando o conceito de ponto "."
df.visitante

0               Vasco
1              Gremio
2            Coritiba
3            Paysandu
4         Ponte Preta
            ...
7640    Internacional
7641     Athletico-PR
7642      Corinthians
7643      Atletico-MG
7644           Cuiaba
Name: visitante, Length: 7645, dtype: object

In [39]:
# Agora repare que se pegarmos umaa suposta coluna " mandante placar", este método não funcionaria. Isso retornará um erro !
df.mandante placar

SyntaxError: ignored

In [40]:
# Nesse caso as únicas maneiras de acessar acessar a coluna seria com colchetes e aspas ou renomeando, e substituindo "  " por " _ "

In [43]:
# selecionando mais de uma coluna: Basta adicionar um colchetes, e separa-las por virgula.
df[["mandante", "rodada", "visitante", "mandante_placar", "visitante_placar"]]

           mandante  rodada      visitante  mandante_placar  visitante_placar
0           Guarani       1          Vasco                4                 2
1      Athletico-PR       1         Gremio                2                 0
2          Flamengo       1       Coritiba                1                 1
3             Goias       1       Paysandu                2                 2
4     Internacional       1    Ponte Preta                1                 1
...             ...     ...            ...              ...               ...
7640     Bragantino      38  Internacional                1                 0
7641          Sport      38   Athletico-PR                1                 1
7642      Juventude      38    Corinthians                1                 0
7643         Gremio      38    Atletico-MG                4                 3
7644         Santos      38         Cuiaba                1                 1

[7645 rows x 5 columns]

INDEXAÇÃO

In [47]:
# Nesse caso,  a coluna de INDEX, não entra na conta, até porque a coluna index não é uma coluna do df, e sim uma "ajudante de localização"
# A coluna ID é a coluna de índice 0, a rodada indice 1 e assim por diante. A mesma lógica aplica-se para as linhas.

In [46]:
# Bastante intuitiva, segue a lógica de indexação de todos os outros tipos de dados. Começa no zero, e segue em diante.
df.head()

,ID,rodada,data,hora,dia,mandante,visitante,formacao_mandante,formacao_visitante,tecnico_mandante,tecnico_visitante,vencedor,arena,mandante_placar,visitante_placar,mandante_estado,visitante_estado,estado_vencedor
0,1,1,2003-03-29,16:00,Sabado,Guarani,Vasco,NaN,NaN,NaN,NaN,Guarani,brinco de ouro,4,2,SP,RJ,SP
1,2,1,2003-03-29,16:00,Sabado,Athletico-PR,Gremio,NaN,NaN,NaN,NaN,Athletico-PR,arena da baixada,2,0,PR,RS,PR
2,3,1,2003-03-30,16:00,Domingo,Flamengo,Coritiba,NaN,NaN,NaN,NaN,-,maracana,1,1,RJ,PR,-
3,4,1,2003-03-30,16:00,Domingo,Goias,Paysandu,NaN,NaN,NaN,NaN,-,serra dourada,2,2,GO,PA,-
4,5,1,2003-03-30,16:00,Domingo,Internacional,Ponte Preta,NaN,NaN,NaN,NaN,-,beira rio,1,1,RS,SP,-

In [48]:
# Uma coisa que pode ser interessante para uma análise, é trocar o index do df, isto é, no lugar da primeira coluna que está com  0,1,2,3.... 
#Podemos colocar a coluna visitante, por exemplo: 
df = pd.read_csv("campeonato-brasileiro-full.csv", index_col= "visitante")

In [50]:
# Observando o df com "visitante" de index 
df.head()

,ID,rodada,data,hora,dia,mandante,formacao_mandante,formacao_visitante,tecnico_mandante,tecnico_visitante,vencedor,arena,mandante_placar,visitante_placar,mandante_estado,visitante_estado,estado_vencedor
visitante,,,,,,,,,,,,,,,,,
Vasco,1,1,2003-03-29,16:00,Sabado,Guarani,NaN,NaN,NaN,NaN,Guarani,brinco de ouro,4,2,SP,RJ,SP
Gremio,2,1,2003-03-29,16:00,Sabado,Athletico-PR,NaN,NaN,NaN,NaN,Athletico-PR,arena da baixada,2,0,PR,RS,PR
Coritiba,3,1,2003-03-30,16:00,Domingo,Flamengo,NaN,NaN,NaN,NaN,-,maracana,1,1,RJ,PR,-
Paysandu,4,1,2003-03-30,16:00,Domingo,Goias,NaN,NaN,NaN,NaN,-,serra dourada,2,2,GO,PA,-
Ponte Preta,5,1,2003-03-30,16:00,Domingo,Internacional,NaN,NaN,NaN,NaN,-,beira rio,1,1,RS,SP,-

In [51]:
# Aqui, podemos chamar um df.info e observar a mudança
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7645 entries, Vasco to Cuiaba
Data columns (total 17 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ID                  7645 non-null   int64
 1   rodada              7645 non-null   int64
 2   data                7645 non-null   object
 3   hora                7645 non-null   object
 4   dia                 7645 non-null   object
 5   mandante            7645 non-null   object
 6   formacao_mandante   2671 non-null   object
 7   formacao_visitante  2671 non-null   object
 8   tecnico_mandante    3035 non-null   object
 9   tecnico_visitante   3035 non-null   object
 10  vencedor            7645 non-null   object
 11  arena               7645 non-null   object
 12  mandante_placar     7645 non-null   int64
 13  visitante_placar    7645 non-null   int64
 14  mandante_estado     7645 non-null   object
 15  visitante_estado    7645 non-null   object
 16  estado_vencedor     7645 non-null   object
dtypes: int64(4), object(13)
memory usage: 1.3+ MB

In [52]:
# Essa indexação é importante para realizar "Slices/Slicing", com o método iloc.[] ,e isso nos da a possibilidade de analisar uma obsrvação em específico. 
df.iloc[0]

ID                                 1
rodada                             1
data                      2003-03-29
hora                           16:00
dia                           Sabado
mandante                     Guarani
formacao_mandante                NaN
formacao_visitante               NaN
tecnico_mandante                 NaN
tecnico_visitante                NaN
vencedor                     Guarani
arena                 brinco de ouro
mandante_placar                    4
visitante_placar                   2
mandante_estado                   SP
visitante_estado                  RJ
estado_vencedor                   SP
Name: Vasco, dtype: object

In [53]:
# Note que como só há uma coluna, se eu der um dtype neste "df.iloc[]0", o computador me dirá que é uma serie. 
type(df.iloc[0])

pandas.core.series.Series

In [54]:
# Com o comando Iloc, podemos fazer mais coisas interessantes: 
df.iloc[[1,2,3]]

,ID,rodada,data,hora,dia,mandante,formacao_mandante,formacao_visitante,tecnico_mandante,tecnico_visitante,vencedor,arena,mandante_placar,visitante_placar,mandante_estado,visitante_estado,estado_vencedor
visitante,,,,,,,,,,,,,,,,,
Gremio,2,1,2003-03-29,16:00,Sabado,Athletico-PR,NaN,NaN,NaN,NaN,Athletico-PR,arena da baixada,2,0,PR,RS,PR
Coritiba,3,1,2003-03-30,16:00,Domingo,Flamengo,NaN,NaN,NaN,NaN,-,maracana,1,1,RJ,PR,-
Paysandu,4,1,2003-03-30,16:00,Domingo,Goias,NaN,NaN,NaN,NaN,-,serra dourada,2,2,GO,PA,-

In [55]:
#Slice 
df.iloc[1:4] # Assim como o for, o numero dps dos dois pontos, não entra.

,ID,rodada,data,hora,dia,mandante,formacao_mandante,formacao_visitante,tecnico_mandante,tecnico_visitante,vencedor,arena,mandante_placar,visitante_placar,mandante_estado,visitante_estado,estado_vencedor
visitante,,,,,,,,,,,,,,,,,
Gremio,2,1,2003-03-29,16:00,Sabado,Athletico-PR,NaN,NaN,NaN,NaN,Athletico-PR,arena da baixada,2,0,PR,RS,PR
Coritiba,3,1,2003-03-30,16:00,Domingo,Flamengo,NaN,NaN,NaN,NaN,-,maracana,1,1,RJ,PR,-
Paysandu,4,1,2003-03-30,16:00,Domingo,Goias,NaN,NaN,NaN,NaN,-,serra dourada,2,2,GO,PA,-

In [58]:
#Slice = df.iloc[linhas , colunas] ; 
df.iloc

In [59]:
#Slice de linhas e colunas 
df.iloc[0,3]   # Note que agora, é só com um colchetes, e esse comando funciona como uma coordenada.

'16:00'

In [60]:
# Aqui o iloc, acessa a linha zero,e nos retorna o valor da coluna 0, da coluna 1, 2. Mais uma vez, o 3 após ":", não entra. 
df.iloc[0, :3]

ID                 1
rodada             1
data      2003-03-29
Name: Vasco, dtype: object

In [61]:
#Podemos também utilizar o iloc, passar a linha, e somente as colunas que eu tenho interesse para aquela linha:
df.iloc[0, [0,1,2,3,4,5]]

ID                   1
rodada               1
data        2003-03-29
hora             16:00
dia             Sabado
mandante       Guarani
Name: Vasco, dtype: object

In [62]:
# df.loc, aqui diferente do método iloc, passamos o rótulo, e não o índice. Eu particularmente, acho mais interessante, neste primeiro momento. 
df = pd.read_csv("campeonato-brasileiro-full.csv", index_col= "mandante")

In [64]:
df.head()

,ID,rodada,data,hora,dia,visitante,formacao_mandante,formacao_visitante,tecnico_mandante,tecnico_visitante,vencedor,arena,mandante_placar,visitante_placar,mandante_estado,visitante_estado,estado_vencedor
mandante,,,,,,,,,,,,,,,,,
Guarani,1,1,2003-03-29,16:00,Sabado,Vasco,NaN,NaN,NaN,NaN,Guarani,brinco de ouro,4,2,SP,RJ,SP
Athletico-PR,2,1,2003-03-29,16:00,Sabado,Gremio,NaN,NaN,NaN,NaN,Athletico-PR,arena da baixada,2,0,PR,RS,PR
Flamengo,3,1,2003-03-30,16:00,Domingo,Coritiba,NaN,NaN,NaN,NaN,-,maracana,1,1,RJ,PR,-
Goias,4,1,2003-03-30,16:00,Domingo,Paysandu,NaN,NaN,NaN,NaN,-,serra dourada,2,2,GO,PA,-
Internacional,5,1,2003-03-30,16:00,Domingo,Ponte Preta,NaN,NaN,NaN,NaN,-,beira rio,1,1,RS,SP,-

In [65]:
df.loc["Juventude"] # Isso nos mostra, todas as observações em que o juventude é mandante.

,ID,rodada,data,hora,dia,visitante,formacao_mandante,formacao_visitante,tecnico_mandante,tecnico_visitante,vencedor,arena,mandante_placar,visitante_placar,mandante_estado,visitante_estado,estado_vencedor
mandante,,,,,,,,,,,,,,,,,
Juventude,7,1,2003-03-30,16:00,Domingo,Sao Paulo,NaN,NaN,NaN,NaN,-,alfredo jaconi,2,2,RS,SP,-
Juventude,44,3,2003-04-13,16:00,Domingo,Coritiba,NaN,NaN,NaN,NaN,Juventude,alfredo jaconi,2,1,RS,PR,RS
Juventude,55,5,2003-04-20,16:00,Domingo,Vitoria,NaN,NaN,NaN,NaN,-,alfredo jaconi,1,1,RS,BA,-
Juventude,81,7,2003-05-04,16:00,Domingo,Guarani,NaN,NaN,NaN,NaN,-,alfredo jaconi,1,1,RS,SP,-
Juventude,99,9,2003-05-17,18:00,Sabado,Santos,NaN,NaN,NaN,NaN,-,alfredo jaconi,1,1,RS,SP,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Juventude,7558,29,2021-10-30,19:15,Sabado,Bahia,4-2-3-1,4-3-3,A. Ferreira,A. Ferreira,-,alfredo jaconi,0,0,RS,BA,-
Juventude,7574,31,2021-11-10,21:30,Quarta-feira,Internacional,4-4-2,4-2-3-1,D. Aguirre Camblor,D. Aguirre Camblor,Juventude,alfredo jaconi,2,1,RS,RS,RS
Juventude,7603,33,2021-11-17,20:31,Quarta-feira,Fluminense,4-4-2,4-3-3,M. de Oliveira,M. de Oliveira,Juventude,alfredo jaconi,1,0,RS,RJ,RS
Juventude,7611,35,2021-11-11,19:03,Quinta-feira,Bragantino,4-4-2,4-2-3-1,M. Nogueira Barbieri,M. Nogueira Barbieri,Juventude,alfredo jaconi,1,0,RS,SP,RS
Juventude,7643,38,2021-12-12,21:33,Domingo,Corinthians,3-4-3,4-3-3,S. Campos Junior,S. Campos Junior,Juventude,alfredo jaconi,1,0,RS,SP,RS

In [67]:
# Há também a psosibilidade de buscar apenas algumas informações específicas, isto é, quando não queremos todas as colunas. 
df.loc["Juventude", "dia"]

mandante
Juventude         Domingo
Juventude         Domingo
Juventude         Domingo
Juventude         Domingo
Juventude          Sabado
                 ...
Juventude          Sabado
Juventude    Quarta-feira
Juventude    Quarta-feira
Juventude    Quinta-feira
Juventude         Domingo
Name: dia, Length: 124, dtype: object

In [72]:
# Com o mesmo conceito de colchetes, podemos querer mais de uma coluna, então abrimos um colchete para o parâmetro "colunas"
df.loc["Juventude", ["mandante_placar", "visitante_placar", "visitante","dia", "hora"]]

,mandante_placar,visitante_placar,visitante,dia,hora
mandante,,,,,
Juventude,2,2,Sao Paulo,Domingo,16:00
Juventude,2,1,Coritiba,Domingo,16:00
Juventude,1,1,Vitoria,Domingo,16:00
Juventude,1,1,Guarani,Domingo,16:00
Juventude,1,1,Santos,Sabado,18:00
...,...,...,...,...,...
Juventude,0,0,Bahia,Sabado,19:15
Juventude,2,1,Internacional,Quarta-feira,21:30
Juventude,1,0,Fluminense,Quarta-feira,20:31
Juventude,1,0,Bragantino,Quinta-feira,19:03
Juventude,1,0,Corinthians,Domingo,21:33

In [74]:
# A ideia dos colchetes para adicionar mais informações, também funciona para linhas: 
df.loc[["Juventude","Sao Paulo"], ["mandante_placar", "visitante_placar", "visitante","dia", "hora"]]

,mandante_placar,visitante_placar,visitante,dia,hora
mandante,,,,,
Juventude,2,2,Sao Paulo,Domingo,16:00
Juventude,2,1,Coritiba,Domingo,16:00
Juventude,1,1,Vitoria,Domingo,16:00
Juventude,1,1,Guarani,Domingo,16:00
Juventude,1,1,Santos,Sabado,18:00
...,...,...,...,...,...
Sao Paulo,1,0,Internacional,Domingo,18:15
Sao Paulo,0,4,Flamengo,Domingo,16:01
Sao Paulo,0,0,Athletico-PR,Quinta-feira,21:31
Sao Paulo,2,0,Sport,Quinta-feira,21:30
Sao Paulo,3,1,Juventude,Domingo,19:02

**FILTRANDO DATA FRAME - UMA CONDIÇÃO**

In [75]:
df = pd.read_csv("campeonato-brasileiro-full.csv")

In [76]:
df.head()

,ID,rodada,data,hora,dia,mandante,visitante,formacao_mandante,formacao_visitante,tecnico_mandante,tecnico_visitante,vencedor,arena,mandante_placar,visitante_placar,mandante_estado,visitante_estado,estado_vencedor
0,1,1,2003-03-29,16:00,Sabado,Guarani,Vasco,NaN,NaN,NaN,NaN,Guarani,brinco de ouro,4,2,SP,RJ,SP
1,2,1,2003-03-29,16:00,Sabado,Athletico-PR,Gremio,NaN,NaN,NaN,NaN,Athletico-PR,arena da baixada,2,0,PR,RS,PR
2,3,1,2003-03-30,16:00,Domingo,Flamengo,Coritiba,NaN,NaN,NaN,NaN,-,maracana,1,1,RJ,PR,-
3,4,1,2003-03-30,16:00,Domingo,Goias,Paysandu,NaN,NaN,NaN,NaN,-,serra dourada,2,2,GO,PA,-
4,5,1,2003-03-30,16:00,Domingo,Internacional,Ponte Preta,NaN,NaN,NaN,NaN,-,beira rio,1,1,RS,SP,-

In [84]:
#Uma maneira de filtrar, é utilizando df.NomeDaColuna, o computador percorre a coluna dia, e retorna true ou false com base no == domingo. 
df.dia == "Domingo"

0       False
1       False
2        True
3        True
4        True
        ...
7640     True
7641     True
7642     True
7643     True
7644     True
Name: dia, Length: 7645, dtype: bool

In [86]:
#Porém, as vezes pode ser interessante visualizar todas as informações que estão relacionadas com o dia Domingo: 
df[df.dia =="Domingo"]

,ID,rodada,data,hora,dia,mandante,visitante,formacao_mandante,formacao_visitante,tecnico_mandante,tecnico_visitante,vencedor,arena,mandante_placar,visitante_placar,mandante_estado,visitante_estado,estado_vencedor
2,3,1,2003-03-30,16:00,Domingo,Flamengo,Coritiba,NaN,NaN,NaN,NaN,-,maracana,1,1,RJ,PR,-
3,4,1,2003-03-30,16:00,Domingo,Goias,Paysandu,NaN,NaN,NaN,NaN,-,serra dourada,2,2,GO,PA,-
4,5,1,2003-03-30,16:00,Domingo,Internacional,Ponte Preta,NaN,NaN,NaN,NaN,-,beira rio,1,1,RS,SP,-
5,6,1,2003-03-30,16:00,Domingo,Criciuma,Fluminense,NaN,NaN,NaN,NaN,Criciuma,heriberto hulse,2,0,SC,RJ,SC
6,7,1,2003-03-30,16:00,Domingo,Juventude,Sao Paulo,NaN,NaN,NaN,NaN,-,alfredo jaconi,2,2,RS,SP,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7640,7641,38,2021-12-12,21:33,Domingo,Bragantino,Internacional,4-2-3-1,3-4-2-1,D. Aguirre Camblor,D. Aguirre Camblor,Bragantino,nabizao,1,0,SP,RS,SP
7641,7642,38,2021-12-12,21:30,Domingo,Sport,Athletico-PR,4-2-3-1,3-4-2-1,J. Freitas,J. Freitas,-,arena de pernambuco,1,1,PE,PR,-
7642,7643,38,2021-12-12,21:33,Domingo,Juventude,Corinthians,3-4-3,4-3-3,S. Campos Junior,S. Campos Junior,Juventude,alfredo jaconi,1,0,RS,SP,RS
7643,7644,38,2021-12-12,21:33,Domingo,Gremio,Atletico-MG,4-2-3-1,4-2-3-1,A. Stival,A. Stival,Gremio,arena do gremio,4,3,RS,MG,RS
7644,7645,38,2021-12-12,21:33,Domingo,Santos,Cuiaba,3-4-2-1,4-4-2,J. de Amorim Campos,J. de Amorim Campos,-,estadio urbano caldeira,1,1,SP,MT,-

In [87]:
#Também podemos fazer isso, utilizando o .loc 
df.loc[df.visitante == "Sao Paulo"]

,ID,rodada,data,hora,dia,mandante,visitante,formacao_mandante,formacao_visitante,tecnico_mandante,tecnico_visitante,vencedor,arena,mandante_placar,visitante_placar,mandante_estado,visitante_estado,estado_vencedor
6,7,1,2003-03-30,16:00,Domingo,Juventude,Sao Paulo,NaN,NaN,NaN,NaN,-,alfredo jaconi,2,2,RS,SP,-
29,42,3,2003-04-13,16:00,Domingo,Criciuma,Sao Paulo,NaN,NaN,NaN,NaN,-,heriberto hulse,1,1,SC,SP,-
70,71,6,2003-04-27,18:00,Domingo,Paysandu,Sao Paulo,NaN,NaN,NaN,NaN,Paysandu,mangueirao,5,2,PA,SP,PA
90,91,8,2003-05-11,16:00,Domingo,Atletico-MG,Sao Paulo,NaN,NaN,NaN,NaN,-,mineirao,2,2,MG,SP,-
115,116,10,2003-05-25,16:00,Domingo,Gremio,Sao Paulo,NaN,NaN,NaN,NaN,Sao Paulo,olimpico,1,2,RS,SP,SP
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7561,7582,30,2021-11-07,18:15,Domingo,Bahia,Sao Paulo,4-1-4-1,3-5-2,R. Ceni,R. Ceni,Bahia,itaipava arena fonte nova,1,0,BA,SP,BA
7571,7572,31,2021-11-10,21:31,Quarta-feira,Fortaleza,Sao Paulo,3-4-1-2,3-1-4-2,R. Ceni,R. Ceni,-,arena castelao,1,1,CE,SP,-
7591,7602,33,2021-11-17,20:29,Quarta-feira,Palmeiras,Sao Paulo,4-1-4-1,4-4-2,R. Ceni,R. Ceni,Sao Paulo,allianz parque,0,2,SP,SP,SP
7612,7613,35,2021-12-12,20:00,Domingo,Gremio,Sao Paulo,4-2-3-1,4-5-1,R. Ceni,R. Ceni,Gremio,arena do gremio,3,0,RS,SP,RS
7639,7640,38,2021-12-12,21:33,Domingo,America-MG,Sao Paulo,4-2-3-1,3-4-1-2,R. Ceni,R. Ceni,America-MG,estadio raimundo sampaio,2,0,MG,SP,MG

In [95]:
# Outra possibilidade interessante,  é que podemos filtrar mais de uma observação específica: 
df.loc[df.visitante == "Sao Paulo" , "formacao_visitante"]

6           NaN
29          NaN
70          NaN
90          NaN
115         NaN
         ...
7561      3-5-2
7571    3-1-4-2
7591      4-4-2
7612      4-5-1
7639    3-4-1-2
Name: formacao_visitante, Length: 371, dtype: object

In [98]:
# Também podemos criar uma variável que receba uma indormação sobre uma determinada coluna, e nos retorne true ou false. 
sp_visita = df.visitante == "Sao Paulo"  # Veirifica quando o são paulo é visitante, e armazena-o.

In [99]:
sp_visita  # Variável que armazena todos as observações que contém o sao paulo visitante.

0       False
1       False
2       False
3       False
4       False
        ...
7640    False
7641    False
7642    False
7643    False
7644    False
Name: visitante, Length: 7645, dtype: bool

In [91]:
# Agora podemos criar um DataFrame, somente com as observações que contém o São paulo de visitante.

In [102]:
df_sp_visita = df.loc[sp_visita]   # isso porque armazenamos na variável sp_visita, como sendo todas as informações que ontém na coluna visitante 
# O valor São paulo.  # "crie um DataFrame", pegando toda a informação dentro do Dataframe original, que contenha "sp_visita"

In [103]:
# Aqui o Dataframe, que conntém todos os jogos do Sao Paulo, do dataframe original, em que o São paulo é o visitante. 
df_sp_visita

,ID,rodada,data,hora,dia,mandante,visitante,formacao_mandante,formacao_visitante,tecnico_mandante,tecnico_visitante,vencedor,arena,mandante_placar,visitante_placar,mandante_estado,visitante_estado,estado_vencedor
6,7,1,2003-03-30,16:00,Domingo,Juventude,Sao Paulo,NaN,NaN,NaN,NaN,-,alfredo jaconi,2,2,RS,SP,-
29,42,3,2003-04-13,16:00,Domingo,Criciuma,Sao Paulo,NaN,NaN,NaN,NaN,-,heriberto hulse,1,1,SC,SP,-
70,71,6,2003-04-27,18:00,Domingo,Paysandu,Sao Paulo,NaN,NaN,NaN,NaN,Paysandu,mangueirao,5,2,PA,SP,PA
90,91,8,2003-05-11,16:00,Domingo,Atletico-MG,Sao Paulo,NaN,NaN,NaN,NaN,-,mineirao,2,2,MG,SP,-
115,116,10,2003-05-25,16:00,Domingo,Gremio,Sao Paulo,NaN,NaN,NaN,NaN,Sao Paulo,olimpico,1,2,RS,SP,SP
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7561,7582,30,2021-11-07,18:15,Domingo,Bahia,Sao Paulo,4-1-4-1,3-5-2,R. Ceni,R. Ceni,Bahia,itaipava arena fonte nova,1,0,BA,SP,BA
7571,7572,31,2021-11-10,21:31,Quarta-feira,Fortaleza,Sao Paulo,3-4-1-2,3-1-4-2,R. Ceni,R. Ceni,-,arena castelao,1,1,CE,SP,-
7591,7602,33,2021-11-17,20:29,Quarta-feira,Palmeiras,Sao Paulo,4-1-4-1,4-4-2,R. Ceni,R. Ceni,Sao Paulo,allianz parque,0,2,SP,SP,SP
7612,7613,35,2021-12-12,20:00,Domingo,Gremio,Sao Paulo,4-2-3-1,4-5-1,R. Ceni,R. Ceni,Gremio,arena do gremio,3,0,RS,SP,RS
7639,7640,38,2021-12-12,21:33,Domingo,America-MG,Sao Paulo,4-2-3-1,3-4-1-2,R. Ceni,R. Ceni,America-MG,estadio raimundo sampaio,2,0,MG,SP,MG

In [111]:
#Por curiosidade, eu quero saber todas as vezes que o São Paulo utilizou a formação 4-4-2, em um jogo como visitante
formacao4_4_2 = df_sp_visita.loc[df_sp_visita.formacao_visitante == "4-4-2"]

In [113]:
# Armazenei isso em um variável, e se eu printar a variável que é um Df, teremos todos os jogos em que o São paulo foi visitante, e utilizou a formação 
formacao4_4_2

,ID,rodada,data,hora,dia,mandante,visitante,formacao_mandante,formacao_visitante,tecnico_mandante,tecnico_visitante,vencedor,arena,mandante_placar,visitante_placar,mandante_estado,visitante_estado,estado_vencedor
4822,4833,22,2014-09-17,22:00,Quarta-feira,Coritiba,Sao Paulo,4-3-2-1,4-4-2,M. Ramalho,M. Ramalho,Coritiba,couto pereira,3,1,PR,SP,PR
6425,6426,31,2018-10-26,19:31,Sexta-feira,Vitoria,Sao Paulo,4-1-4-1,4-4-2,D. Aguirre Camblor,D. Aguirre Camblor,Sao Paulo,barradao,0,1,BA,SP,SP
7009,7010,13,2020-10-04,16:00,Domingo,Coritiba,Sao Paulo,4-2-3-1,4-4-2,F. Diniz Silva,F. Diniz Silva,-,couto pereira,1,1,PR,SP,-
7044,7045,16,2020-11-25,19:15,Quarta-feira,Ceara,Sao Paulo,4-2-3-1,4-4-2,F. Diniz Silva,F. Diniz Silva,-,arena castelao,1,1,CE,SP,-
7069,7070,19,2020-11-01,16:00,Domingo,Flamengo,Sao Paulo,4-2-3-1,4-4-2,F. Diniz Silva,F. Diniz Silva,Sao Paulo,maracana,1,4,RJ,SP,SP
7110,7111,23,2020-11-28,18:59,Sabado,Bahia,Sao Paulo,4-3-3,4-4-2,F. Diniz Silva,F. Diniz Silva,Sao Paulo,itaipava arena fonte nova,1,3,BA,SP,SP
7132,7133,25,2020-12-13,18:15,Domingo,Corinthians,Sao Paulo,4-2-3-1,4-4-2,F. Diniz Silva,F. Diniz Silva,Corinthians,neo quimica arena,1,0,SP,SP,SP
7148,7149,27,2020-12-26,20:59,Sabado,Fluminense,Sao Paulo,4-2-3-1,4-4-2,F. Diniz Silva,F. Diniz Silva,Sao Paulo,maracana,1,2,RJ,SP,SP
7160,7161,28,2021-01-06,21:30,Quarta-feira,Bragantino,Sao Paulo,4-1-4-1,4-4-2,F. Diniz Silva,F. Diniz Silva,Bragantino,nabizao,4,2,SP,SP,SP
7178,7179,30,2021-01-17,15:59,Domingo,Athletico-PR,Sao Paulo,4-2-3-1,4-4-2,F. Diniz Silva,F. Diniz Silva,-,estadio joaquim americo guimaraes,1,1,PR,SP,-
7207,7208,33,2021-01-31,15:59,Domingo,Atletico-GO,Sao Paulo,4-2-3-1,4-4-2,F. Diniz Silva,F. Diniz Silva,Atletico-GO,estadio antonio accioly,2,1,GO,SP,GO
7242,7243,36,2021-02-14,20:29,Domingo,Gremio,Sao Paulo,4-2-3-1,4-4-2,M. Vizolli,M. Vizolli,Sao Paulo,arena do gremio,1,2,RS,SP,SP
7254,7255,37,2021-02-22,19:59,Segunda-feira,Botafogo-RJ,Sao Paulo,4-4-2,4-4-2,M. Vizolli,M. Vizolli,Botafogo-RJ,estadio nilton santos,1,0,RJ,SP,RJ
7591,7602,33,2021-11-17,20:29,Quarta-feira,Palmeiras,Sao Paulo,4-1-4-1,4-4-2,R. Ceni,R. Ceni,Sao Paulo,allianz parque,0,2,SP,SP,SP