<a href="https://colab.research.google.com/github/LeonardoHyppolito/Estudos/blob/main/analise_com_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Prática, do capítulo "Analisando dados com pandas" do curso Método Voyager.**





*   IMPORTANDO ARQUIVO CSV

In [1]:
# Primeiro vamos chamar a biblioteca pandas para trabalhar com a gente. 
import pandas as pd

In [2]:
# Agora, nos definimos uma variável "df", sendo o que o pandas lê do arquivo csv que importamos. 
df = pd.read_csv("campeonato-brasileiro-full.csv")

In [3]:
# Método head.(), por padrão nos mostra as 5 primeiras linhas do df, ou se quisermos passamos o numero de linhas desejado como parâmetro.
df.head()

,ID,rodada,data,hora,dia,mandante,visitante,formacao_mandante,formacao_visitante,tecnico_mandante,tecnico_visitante,vencedor,arena,mandante_placar,visitante_placar,mandante_estado,visitante_estado,estado_vencedor
0,1,1,2003-03-29,16:00,Sabado,Guarani,Vasco,NaN,NaN,NaN,NaN,Guarani,brinco de ouro,4,2,SP,RJ,SP
1,2,1,2003-03-29,16:00,Sabado,Athletico-PR,Gremio,NaN,NaN,NaN,NaN,Athletico-PR,arena da baixada,2,0,PR,RS,PR
2,3,1,2003-03-30,16:00,Domingo,Flamengo,Coritiba,NaN,NaN,NaN,NaN,-,maracana,1,1,RJ,PR,-
3,4,1,2003-03-30,16:00,Domingo,Goias,Paysandu,NaN,NaN,NaN,NaN,-,serra dourada,2,2,GO,PA,-
4,5,1,2003-03-30,16:00,Domingo,Internacional,Ponte Preta,NaN,NaN,NaN,NaN,-,beira rio,1,1,RS,SP,-

In [4]:
#Método .tail(), nos mostra as ultimas linhas do df, a quantidade padrão é 5, ou o numero de linhas desejado é passado como parãmetro. 
df.tail()

,ID,rodada,data,hora,dia,mandante,visitante,formacao_mandante,formacao_visitante,tecnico_mandante,tecnico_visitante,vencedor,arena,mandante_placar,visitante_placar,mandante_estado,visitante_estado,estado_vencedor
7640,7641,38,2021-12-12,21:33,Domingo,Bragantino,Internacional,4-2-3-1,3-4-2-1,D. Aguirre Camblor,D. Aguirre Camblor,Bragantino,nabizao,1,0,SP,RS,SP
7641,7642,38,2021-12-12,21:30,Domingo,Sport,Athletico-PR,4-2-3-1,3-4-2-1,J. Freitas,J. Freitas,-,arena de pernambuco,1,1,PE,PR,-
7642,7643,38,2021-12-12,21:33,Domingo,Juventude,Corinthians,3-4-3,4-3-3,S. Campos Junior,S. Campos Junior,Juventude,alfredo jaconi,1,0,RS,SP,RS
7643,7644,38,2021-12-12,21:33,Domingo,Gremio,Atletico-MG,4-2-3-1,4-2-3-1,A. Stival,A. Stival,Gremio,arena do gremio,4,3,RS,MG,RS
7644,7645,38,2021-12-12,21:33,Domingo,Santos,Cuiaba,3-4-2-1,4-4-2,J. de Amorim Campos,J. de Amorim Campos,-,estadio urbano caldeira,1,1,SP,MT,-

insight: Observando o conjunto de dados comparando o resultado do .head() com o resultado do .tail() podemos pensar que possivelmente temos mais dados faltantes nos primeiros anos do que nos anos mais recentes.

**Primeira Inspeção nos dados**

In [5]:
# Este método nos permite com apenas uma linha de código, obter indormações gerais do nosso conjunto de dados. Um bom começo ! 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7645 entries, 0 to 7644
Data columns (total 18 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ID                  7645 non-null   int64
 1   rodada              7645 non-null   int64
 2   data                7645 non-null   object
 3   hora                7645 non-null   object
 4   dia                 7645 non-null   object
 5   mandante            7645 non-null   object
 6   visitante           7645 non-null   object
 7   formacao_mandante   2671 non-null   object
 8   formacao_visitante  2671 non-null   object
 9   tecnico_mandante    3035 non-null   object
 10  tecnico_visitante   3035 non-null   object
 11  vencedor            7645 non-null   object
 12  arena               7645 non-null   object
 13  mandante_placar     7645 non-null   int64
 14  visitante_placar    7645 non-null   int64
 15  mandante_estado     7645 non-null   object
 16  visitante_estado    7645 non-null   object
 17  estado_vencedor     7645 non-null   object
dtypes: int64(4), object(14)
memory usage: 1.1+ MB

insight: Aqui descobrimos que o df possui 18 colunas, 4 delas com valores do tipo inteiro, e 14 delas com valores do tipo objeto. 
  Podemos levantar um questionamento: **Por que algumas colunas, por exemplo, as de index: 7, 8, 9, 10 possuem menos linhas ?**

In [6]:
df.describe()

                ID       rodada  mandante_placar  visitante_placar
count  7645.000000  7645.000000      7645.000000       7645.000000
mean   3823.000000    20.196207         1.554088          1.027338
std    2207.065737    11.489249         1.234262          1.030366
min       1.000000     1.000000         0.000000          0.000000
25%    1912.000000    10.000000         1.000000          0.000000
50%    3823.000000    20.000000         1.000000          1.000000
75%    5734.000000    30.000000         2.000000          2.000000
max    7645.000000    46.000000         7.000000          7.000000

In [7]:
# Por padrão o df.describe() nos retorna algumas estatísticas descritivas, porém somente das variáveis numéricas.

In [8]:
#Existe um parâmetro que podemos passar, para que o df.describe() também analise as features de valores não numericos.

In [9]:
# Aqui passamos um parâmetro "include" = O, pois como vimos no df.info as demais features possuem valores do tipo Objeto. 
df.describe(include="O")

,data,hora,dia,mandante,visitante,formacao_mandante,formacao_visitante,tecnico_mandante,tecnico_visitante,vencedor,arena,mandante_estado,visitante_estado,estado_vencedor
count,7645,7645,7645,7645,7645,2671,2671,3035,3035,7645,7645,7645,7645,7645
unique,1711,176,7,45,45,21,20,178,178,46,152,15,15,16
top,2021-11-11,16:00,Domingo,Sao Paulo,Flamengo,4-2-3-1,4-2-3-1,V. Carmo Mancini,V. Carmo Mancini,-,maracana,SP,SP,-
freq,27,1808,3561,371,372,1600,1525,100,100,2015,562,1907,1907,2015

In [10]:
# Podemos também passar um "all", como parâmetro do include, e isso fará com que o describe retorne todo o conjunto de dados. 
df.describe(include="all")

,ID,rodada,data,hora,dia,mandante,visitante,formacao_mandante,formacao_visitante,tecnico_mandante,tecnico_visitante,vencedor,arena,mandante_placar,visitante_placar,mandante_estado,visitante_estado,estado_vencedor
count,7645.000000,7645.000000,7645,7645,7645,7645,7645,2671,2671,3035,3035,7645,7645,7645.000000,7645.000000,7645,7645,7645
unique,NaN,NaN,1711,176,7,45,45,21,20,178,178,46,152,NaN,NaN,15,15,16
top,NaN,NaN,2021-11-11,16:00,Domingo,Sao Paulo,Flamengo,4-2-3-1,4-2-3-1,V. Carmo Mancini,V. Carmo Mancini,-,maracana,NaN,NaN,SP,SP,-
freq,NaN,NaN,27,1808,3561,371,372,1600,1525,100,100,2015,562,NaN,NaN,1907,1907,2015
mean,3823.000000,20.196207,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.554088,1.027338,NaN,NaN,NaN
std,2207.065737,11.489249,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.234262,1.030366,NaN,NaN,NaN
min,1.000000,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,NaN,NaN,NaN
25%,1912.000000,10.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,0.000000,NaN,NaN,NaN
50%,3823.000000,20.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,1.000000,NaN,NaN,NaN
75%,5734.000000,30.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.000000,2.000000,NaN,NaN,NaN
max,7645.000000,46.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.000000,7.000000,NaN,NaN,NaN

In [11]:
# Porém é importante reparar que muitos dados estão com o valor "Nan", isso porque muitas dessas variáveis não possuem estatísticas 
# Por exemplo: Não faz sentido pensar na media dos mandantes.

**Funções Integradas**

In [12]:
#Muitas das funções que vimos anteriormente, podem ser aplicadas em um df.

In [13]:
# Type df 
type(df)

pandas.core.frame.DataFrame

In [14]:
#Numero de observações 
len(df)

7645

In [15]:
# Arredondar esse df não faz sentido, pois as variáveis numéricas são do tipo int. 
round(df)

,ID,rodada,data,hora,dia,mandante,visitante,formacao_mandante,formacao_visitante,tecnico_mandante,tecnico_visitante,vencedor,arena,mandante_placar,visitante_placar,mandante_estado,visitante_estado,estado_vencedor
0,1,1,2003-03-29,16:00,Sabado,Guarani,Vasco,NaN,NaN,NaN,NaN,Guarani,brinco de ouro,4,2,SP,RJ,SP
1,2,1,2003-03-29,16:00,Sabado,Athletico-PR,Gremio,NaN,NaN,NaN,NaN,Athletico-PR,arena da baixada,2,0,PR,RS,PR
2,3,1,2003-03-30,16:00,Domingo,Flamengo,Coritiba,NaN,NaN,NaN,NaN,-,maracana,1,1,RJ,PR,-
3,4,1,2003-03-30,16:00,Domingo,Goias,Paysandu,NaN,NaN,NaN,NaN,-,serra dourada,2,2,GO,PA,-
4,5,1,2003-03-30,16:00,Domingo,Internacional,Ponte Preta,NaN,NaN,NaN,NaN,-,beira rio,1,1,RS,SP,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7640,7641,38,2021-12-12,21:33,Domingo,Bragantino,Internacional,4-2-3-1,3-4-2-1,D. Aguirre Camblor,D. Aguirre Camblor,Bragantino,nabizao,1,0,SP,RS,SP
7641,7642,38,2021-12-12,21:30,Domingo,Sport,Athletico-PR,4-2-3-1,3-4-2-1,J. Freitas,J. Freitas,-,arena de pernambuco,1,1,PE,PR,-
7642,7643,38,2021-12-12,21:33,Domingo,Juventude,Corinthians,3-4-3,4-3-3,S. Campos Junior,S. Campos Junior,Juventude,alfredo jaconi,1,0,RS,SP,RS
7643,7644,38,2021-12-12,21:33,Domingo,Gremio,Atletico-MG,4-2-3-1,4-2-3-1,A. Stival,A. Stival,Gremio,arena do gremio,4,3,RS,MG,RS
7644,7645,38,2021-12-12,21:33,Domingo,Santos,Cuiaba,3-4-2-1,4-4-2,J. de Amorim Campos,J. de Amorim Campos,-,estadio urbano caldeira,1,1,SP,MT,-

**ATRIBUTOS  X   MÉTODOS**

In [16]:
# Atributos são as propriedades dos objetos.

Atributos

In [17]:
# Numero linhas e colunas, em uma tupla
df.shape

(7645, 18)

In [18]:
# o computador retornar em tupla, pode ser interessante para atribuirmos variáveis para cada valor presente na tupla: 
linhas, colunas = (df.shape)

In [19]:
print(linhas)

7645

In [20]:
print(colunas)

18

In [21]:
#Tamanho do df = linhas * colunas 
df.size

137610

In [22]:
# range do index
df.index

RangeIndex(start=0, stop=7645, step=1)

In [23]:
# retorna as colunas 
df.columns

Index(['ID', 'rodada', 'data', 'hora', 'dia', 'mandante', 'visitante',
       'formacao_mandante', 'formacao_visitante', 'tecnico_mandante',
       'tecnico_visitante', 'vencedor', 'arena', 'mandante_placar',
       'visitante_placar', 'mandante_estado', 'visitante_estado',
       'estado_vencedor'],
      dtype='object')

**Métodos**

In [24]:
# Ações que um objeto pode realizar

In [25]:
# Primeiras linhas 
df.head()

,ID,rodada,data,hora,dia,mandante,visitante,formacao_mandante,formacao_visitante,tecnico_mandante,tecnico_visitante,vencedor,arena,mandante_placar,visitante_placar,mandante_estado,visitante_estado,estado_vencedor
0,1,1,2003-03-29,16:00,Sabado,Guarani,Vasco,NaN,NaN,NaN,NaN,Guarani,brinco de ouro,4,2,SP,RJ,SP
1,2,1,2003-03-29,16:00,Sabado,Athletico-PR,Gremio,NaN,NaN,NaN,NaN,Athletico-PR,arena da baixada,2,0,PR,RS,PR
2,3,1,2003-03-30,16:00,Domingo,Flamengo,Coritiba,NaN,NaN,NaN,NaN,-,maracana,1,1,RJ,PR,-
3,4,1,2003-03-30,16:00,Domingo,Goias,Paysandu,NaN,NaN,NaN,NaN,-,serra dourada,2,2,GO,PA,-
4,5,1,2003-03-30,16:00,Domingo,Internacional,Ponte Preta,NaN,NaN,NaN,NaN,-,beira rio,1,1,RS,SP,-

In [26]:
# Informações macro do meu conjunto de dados 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7645 entries, 0 to 7644
Data columns (total 18 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ID                  7645 non-null   int64
 1   rodada              7645 non-null   int64
 2   data                7645 non-null   object
 3   hora                7645 non-null   object
 4   dia                 7645 non-null   object
 5   mandante            7645 non-null   object
 6   visitante           7645 non-null   object
 7   formacao_mandante   2671 non-null   object
 8   formacao_visitante  2671 non-null   object
 9   tecnico_mandante    3035 non-null   object
 10  tecnico_visitante   3035 non-null   object
 11  vencedor            7645 non-null   object
 12  arena               7645 non-null   object
 13  mandante_placar     7645 non-null   int64
 14  visitante_placar    7645 non-null   int64
 15  mandante_estado     7645 non-null   object
 16  visitante_estado    7645 non-null   object
 17  estado_vencedor     7645 non-null   object
dtypes: int64(4), object(14)
memory usage: 1.1+ MB

In [27]:
# Valor mínimo de cada coluna 
df.min()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.

ID                                1
rodada                            1
data                     2003-03-29
hora                          00:00
dia                         Domingo
mandante                 America-MG
visitante                America-MG
vencedor                          -
arena               a campanella pf
mandante_placar                   0
visitante_placar                  0
mandante_estado                  AL
visitante_estado                 AL
estado_vencedor                   -
dtype: object

In [28]:
#Maximo de cada coluna 
df.max()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.

ID                                 7645
rodada                               46
data                         2021-12-12
hora                              22:50
dia                         Terça-feira
mandante                        Vitoria
visitante                       Vitoria
vencedor                        Vitoria
arena               wilson de barros pf
mandante_placar                       7
visitante_placar                      7
mandante_estado                      SP
visitante_estado                     SP
estado_vencedor                      SP
dtype: object

In [29]:
#Média dos valores numéricos do meu conjunto de dados 
df.mean()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.

ID                  3823.000000
rodada                20.196207
mandante_placar        1.554088
visitante_placar       1.027338
dtype: float64

In [30]:
# retorna quais são as chaves, nesse caso as colunas. 
df.keys()

Index(['ID', 'rodada', 'data', 'hora', 'dia', 'mandante', 'visitante',
       'formacao_mandante', 'formacao_visitante', 'tecnico_mandante',
       'tecnico_visitante', 'vencedor', 'arena', 'mandante_placar',
       'visitante_placar', 'mandante_estado', 'visitante_estado',
       'estado_vencedor'],
      dtype='object')

In [31]:
# Mediana das colunas numéricas 
df.median()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.

ID                  3823.0
rodada                20.0
mandante_placar        1.0
visitante_placar       1.0
dtype: float64

**Encadeamento de métodos**

In [32]:
# Apenas um método 
df.mean()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.

ID                  3823.000000
rodada                20.196207
mandante_placar        1.554088
visitante_placar       1.027338
dtype: float64

In [33]:
# Aplicando métodos em cima de métodos.
df.mean().sort_values().head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.

visitante_placar       1.027338
mandante_placar        1.554088
rodada                20.196207
ID                  3823.000000
dtype: float64

In [34]:
# Por curiosidade vou tentar aplicar um atributo nesse encadeamento de métodos. 
df.mean().sort_values().head().round(2)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.

visitante_placar       1.03
mandante_placar        1.55
rodada                20.20
ID                  3823.00
dtype: float64

**Selecionando colunas**

In [35]:
df.head()

,ID,rodada,data,hora,dia,mandante,visitante,formacao_mandante,formacao_visitante,tecnico_mandante,tecnico_visitante,vencedor,arena,mandante_placar,visitante_placar,mandante_estado,visitante_estado,estado_vencedor
0,1,1,2003-03-29,16:00,Sabado,Guarani,Vasco,NaN,NaN,NaN,NaN,Guarani,brinco de ouro,4,2,SP,RJ,SP
1,2,1,2003-03-29,16:00,Sabado,Athletico-PR,Gremio,NaN,NaN,NaN,NaN,Athletico-PR,arena da baixada,2,0,PR,RS,PR
2,3,1,2003-03-30,16:00,Domingo,Flamengo,Coritiba,NaN,NaN,NaN,NaN,-,maracana,1,1,RJ,PR,-
3,4,1,2003-03-30,16:00,Domingo,Goias,Paysandu,NaN,NaN,NaN,NaN,-,serra dourada,2,2,GO,PA,-
4,5,1,2003-03-30,16:00,Domingo,Internacional,Ponte Preta,NaN,NaN,NaN,NaN,-,beira rio,1,1,RS,SP,-



*   **Existem duas formas de acessar colunas específicas:**


1.   Conceito de colchetes e aspas. 
Este modo é interessante para casos em que as colunas do df não seguem as normas da linguagem python, isto é, por exemplo, colunas com nomes composto que são separadas por espaços e não por "_". Neste caso, a única forma de acessa-las é com o conceito de colchetes e aspas, como se estivéssemos acessando um pedaço do df.

In [36]:
# Utilzando colchetes 
df["rodada"]

0        1
1        1
2        1
3        1
4        1
        ..
7640    38
7641    38
7642    38
7643    38
7644    38
Name: rodada, Length: 7645, dtype: int64

In [37]:
df["visitante"]

0               Vasco
1              Gremio
2            Coritiba
3            Paysandu
4         Ponte Preta
            ...
7640    Internacional
7641     Athletico-PR
7642      Corinthians
7643      Atletico-MG
7644           Cuiaba
Name: visitante, Length: 7645, dtype: object

In [38]:
# Utilizando o conceito de ponto "."
df.visitante

0               Vasco
1              Gremio
2            Coritiba
3            Paysandu
4         Ponte Preta
            ...
7640    Internacional
7641     Athletico-PR
7642      Corinthians
7643      Atletico-MG
7644           Cuiaba
Name: visitante, Length: 7645, dtype: object

In [39]:
# Nesse caso as únicas maneiras de acessar acessar a coluna seria com colchetes e aspas ou renomeando, e substituindo "  " por " _ "

In [40]:
# selecionando mais de uma coluna: Basta adicionar um colchetes, e separa-las por virgula.
df[["mandante", "rodada", "visitante", "mandante_placar", "visitante_placar"]]

           mandante  rodada      visitante  mandante_placar  visitante_placar
0           Guarani       1          Vasco                4                 2
1      Athletico-PR       1         Gremio                2                 0
2          Flamengo       1       Coritiba                1                 1
3             Goias       1       Paysandu                2                 2
4     Internacional       1    Ponte Preta                1                 1
...             ...     ...            ...              ...               ...
7640     Bragantino      38  Internacional                1                 0
7641          Sport      38   Athletico-PR                1                 1
7642      Juventude      38    Corinthians                1                 0
7643         Gremio      38    Atletico-MG                4                 3
7644         Santos      38         Cuiaba                1                 1

[7645 rows x 5 columns]

INDEXAÇÃO

In [41]:
# Nesse caso,  a coluna de INDEX, não entra na conta, até porque a coluna index não é uma coluna do df, e sim uma "ajudante de localização"
# A coluna ID é a coluna de índice 0, a rodada indice 1 e assim por diante. A mesma lógica aplica-se para as linhas.

In [42]:
# Bastante intuitiva, segue a lógica de indexação de todos os outros tipos de dados. Começa no zero, e segue em diante.
df.head()

,ID,rodada,data,hora,dia,mandante,visitante,formacao_mandante,formacao_visitante,tecnico_mandante,tecnico_visitante,vencedor,arena,mandante_placar,visitante_placar,mandante_estado,visitante_estado,estado_vencedor
0,1,1,2003-03-29,16:00,Sabado,Guarani,Vasco,NaN,NaN,NaN,NaN,Guarani,brinco de ouro,4,2,SP,RJ,SP
1,2,1,2003-03-29,16:00,Sabado,Athletico-PR,Gremio,NaN,NaN,NaN,NaN,Athletico-PR,arena da baixada,2,0,PR,RS,PR
2,3,1,2003-03-30,16:00,Domingo,Flamengo,Coritiba,NaN,NaN,NaN,NaN,-,maracana,1,1,RJ,PR,-
3,4,1,2003-03-30,16:00,Domingo,Goias,Paysandu,NaN,NaN,NaN,NaN,-,serra dourada,2,2,GO,PA,-
4,5,1,2003-03-30,16:00,Domingo,Internacional,Ponte Preta,NaN,NaN,NaN,NaN,-,beira rio,1,1,RS,SP,-

In [43]:
# Uma coisa que pode ser interessante para uma análise, é trocar o index do df, isto é, no lugar da primeira coluna que está com  0,1,2,3.... 
#Podemos colocar a coluna visitante, por exemplo: 
df = pd.read_csv("campeonato-brasileiro-full.csv", index_col= "visitante")

In [44]:
# Observando o df com "visitante" de index 
df.head()

,ID,rodada,data,hora,dia,mandante,formacao_mandante,formacao_visitante,tecnico_mandante,tecnico_visitante,vencedor,arena,mandante_placar,visitante_placar,mandante_estado,visitante_estado,estado_vencedor
visitante,,,,,,,,,,,,,,,,,
Vasco,1,1,2003-03-29,16:00,Sabado,Guarani,NaN,NaN,NaN,NaN,Guarani,brinco de ouro,4,2,SP,RJ,SP
Gremio,2,1,2003-03-29,16:00,Sabado,Athletico-PR,NaN,NaN,NaN,NaN,Athletico-PR,arena da baixada,2,0,PR,RS,PR
Coritiba,3,1,2003-03-30,16:00,Domingo,Flamengo,NaN,NaN,NaN,NaN,-,maracana,1,1,RJ,PR,-
Paysandu,4,1,2003-03-30,16:00,Domingo,Goias,NaN,NaN,NaN,NaN,-,serra dourada,2,2,GO,PA,-
Ponte Preta,5,1,2003-03-30,16:00,Domingo,Internacional,NaN,NaN,NaN,NaN,-,beira rio,1,1,RS,SP,-

In [45]:
# Aqui, podemos chamar um df.info e observar a mudança
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7645 entries, Vasco to Cuiaba
Data columns (total 17 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ID                  7645 non-null   int64
 1   rodada              7645 non-null   int64
 2   data                7645 non-null   object
 3   hora                7645 non-null   object
 4   dia                 7645 non-null   object
 5   mandante            7645 non-null   object
 6   formacao_mandante   2671 non-null   object
 7   formacao_visitante  2671 non-null   object
 8   tecnico_mandante    3035 non-null   object
 9   tecnico_visitante   3035 non-null   object
 10  vencedor            7645 non-null   object
 11  arena               7645 non-null   object
 12  mandante_placar     7645 non-null   int64
 13  visitante_placar    7645 non-null   int64
 14  mandante_estado     7645 non-null   object
 15  visitante_estado    7645 non-null   object
 16  estado_vencedor     7645 non-null   object
dtypes: int64(4), object(13)
memory usage: 1.0+ MB

In [46]:
# Essa indexação é importante para realizar "Slices/Slicing", com o método iloc.[] ,e isso nos da a possibilidade de analisar uma obsrvação em específico. 
df.iloc[0]

ID                                 1
rodada                             1
data                      2003-03-29
hora                           16:00
dia                           Sabado
mandante                     Guarani
formacao_mandante                NaN
formacao_visitante               NaN
tecnico_mandante                 NaN
tecnico_visitante                NaN
vencedor                     Guarani
arena                 brinco de ouro
mandante_placar                    4
visitante_placar                   2
mandante_estado                   SP
visitante_estado                  RJ
estado_vencedor                   SP
Name: Vasco, dtype: object

In [47]:
# Note que como só há uma coluna, se eu der um dtype neste "df.iloc[]0", o computador me dirá que é uma serie. 
type(df.iloc[0])

pandas.core.series.Series

In [48]:
# Com o comando Iloc, podemos fazer mais coisas interessantes: 
df.iloc[[1,2,3]]

,ID,rodada,data,hora,dia,mandante,formacao_mandante,formacao_visitante,tecnico_mandante,tecnico_visitante,vencedor,arena,mandante_placar,visitante_placar,mandante_estado,visitante_estado,estado_vencedor
visitante,,,,,,,,,,,,,,,,,
Gremio,2,1,2003-03-29,16:00,Sabado,Athletico-PR,NaN,NaN,NaN,NaN,Athletico-PR,arena da baixada,2,0,PR,RS,PR
Coritiba,3,1,2003-03-30,16:00,Domingo,Flamengo,NaN,NaN,NaN,NaN,-,maracana,1,1,RJ,PR,-
Paysandu,4,1,2003-03-30,16:00,Domingo,Goias,NaN,NaN,NaN,NaN,-,serra dourada,2,2,GO,PA,-

In [49]:
#Slice 
df.iloc[1:4] # Assim como o for, o numero dps dos dois pontos, não entra.

,ID,rodada,data,hora,dia,mandante,formacao_mandante,formacao_visitante,tecnico_mandante,tecnico_visitante,vencedor,arena,mandante_placar,visitante_placar,mandante_estado,visitante_estado,estado_vencedor
visitante,,,,,,,,,,,,,,,,,
Gremio,2,1,2003-03-29,16:00,Sabado,Athletico-PR,NaN,NaN,NaN,NaN,Athletico-PR,arena da baixada,2,0,PR,RS,PR
Coritiba,3,1,2003-03-30,16:00,Domingo,Flamengo,NaN,NaN,NaN,NaN,-,maracana,1,1,RJ,PR,-
Paysandu,4,1,2003-03-30,16:00,Domingo,Goias,NaN,NaN,NaN,NaN,-,serra dourada,2,2,GO,PA,-

In [50]:
#Slice = df.iloc[linhas , colunas] ; 
df.iloc

In [51]:
#Slice de linhas e colunas 
df.iloc[0,3]   # Note que agora, é só com um colchetes, e esse comando funciona como uma coordenada.

'16:00'

In [52]:
# Aqui o iloc, acessa a linha zero,e nos retorna o valor da coluna 0, da coluna 1, 2. Mais uma vez, o 3 após ":", não entra. 
df.iloc[0, :3]

ID                 1
rodada             1
data      2003-03-29
Name: Vasco, dtype: object

In [53]:
#Podemos também utilizar o iloc, passar a linha, e somente as colunas que eu tenho interesse para aquela linha:
df.iloc[0, [0,1,2,3,4,5]]

ID                   1
rodada               1
data        2003-03-29
hora             16:00
dia             Sabado
mandante       Guarani
Name: Vasco, dtype: object

In [54]:
# df.loc, aqui diferente do método iloc, passamos o rótulo, e não o índice. Eu particularmente, acho mais interessante, neste primeiro momento. 
df = pd.read_csv("campeonato-brasileiro-full.csv", index_col= "mandante")

In [55]:
df.head()

,ID,rodada,data,hora,dia,visitante,formacao_mandante,formacao_visitante,tecnico_mandante,tecnico_visitante,vencedor,arena,mandante_placar,visitante_placar,mandante_estado,visitante_estado,estado_vencedor
mandante,,,,,,,,,,,,,,,,,
Guarani,1,1,2003-03-29,16:00,Sabado,Vasco,NaN,NaN,NaN,NaN,Guarani,brinco de ouro,4,2,SP,RJ,SP
Athletico-PR,2,1,2003-03-29,16:00,Sabado,Gremio,NaN,NaN,NaN,NaN,Athletico-PR,arena da baixada,2,0,PR,RS,PR
Flamengo,3,1,2003-03-30,16:00,Domingo,Coritiba,NaN,NaN,NaN,NaN,-,maracana,1,1,RJ,PR,-
Goias,4,1,2003-03-30,16:00,Domingo,Paysandu,NaN,NaN,NaN,NaN,-,serra dourada,2,2,GO,PA,-
Internacional,5,1,2003-03-30,16:00,Domingo,Ponte Preta,NaN,NaN,NaN,NaN,-,beira rio,1,1,RS,SP,-

In [56]:
df.loc["Juventude"] # Isso nos mostra, todas as observações em que o juventude é mandante.

,ID,rodada,data,hora,dia,visitante,formacao_mandante,formacao_visitante,tecnico_mandante,tecnico_visitante,vencedor,arena,mandante_placar,visitante_placar,mandante_estado,visitante_estado,estado_vencedor
mandante,,,,,,,,,,,,,,,,,
Juventude,7,1,2003-03-30,16:00,Domingo,Sao Paulo,NaN,NaN,NaN,NaN,-,alfredo jaconi,2,2,RS,SP,-
Juventude,44,3,2003-04-13,16:00,Domingo,Coritiba,NaN,NaN,NaN,NaN,Juventude,alfredo jaconi,2,1,RS,PR,RS
Juventude,55,5,2003-04-20,16:00,Domingo,Vitoria,NaN,NaN,NaN,NaN,-,alfredo jaconi,1,1,RS,BA,-
Juventude,81,7,2003-05-04,16:00,Domingo,Guarani,NaN,NaN,NaN,NaN,-,alfredo jaconi,1,1,RS,SP,-
Juventude,99,9,2003-05-17,18:00,Sabado,Santos,NaN,NaN,NaN,NaN,-,alfredo jaconi,1,1,RS,SP,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Juventude,7558,29,2021-10-30,19:15,Sabado,Bahia,4-2-3-1,4-3-3,A. Ferreira,A. Ferreira,-,alfredo jaconi,0,0,RS,BA,-
Juventude,7574,31,2021-11-10,21:30,Quarta-feira,Internacional,4-4-2,4-2-3-1,D. Aguirre Camblor,D. Aguirre Camblor,Juventude,alfredo jaconi,2,1,RS,RS,RS
Juventude,7603,33,2021-11-17,20:31,Quarta-feira,Fluminense,4-4-2,4-3-3,M. de Oliveira,M. de Oliveira,Juventude,alfredo jaconi,1,0,RS,RJ,RS
Juventude,7611,35,2021-11-11,19:03,Quinta-feira,Bragantino,4-4-2,4-2-3-1,M. Nogueira Barbieri,M. Nogueira Barbieri,Juventude,alfredo jaconi,1,0,RS,SP,RS
Juventude,7643,38,2021-12-12,21:33,Domingo,Corinthians,3-4-3,4-3-3,S. Campos Junior,S. Campos Junior,Juventude,alfredo jaconi,1,0,RS,SP,RS

In [57]:
# Há também a psosibilidade de buscar apenas algumas informações específicas, isto é, quando não queremos todas as colunas. 
df.loc["Juventude", "dia"]

mandante
Juventude         Domingo
Juventude         Domingo
Juventude         Domingo
Juventude         Domingo
Juventude          Sabado
                 ...
Juventude          Sabado
Juventude    Quarta-feira
Juventude    Quarta-feira
Juventude    Quinta-feira
Juventude         Domingo
Name: dia, Length: 124, dtype: object

In [58]:
# Com o mesmo conceito de colchetes, podemos querer mais de uma coluna, então abrimos um colchete para o parâmetro "colunas"
df.loc["Juventude", ["mandante_placar", "visitante_placar", "visitante","dia", "hora"]]

,mandante_placar,visitante_placar,visitante,dia,hora
mandante,,,,,
Juventude,2,2,Sao Paulo,Domingo,16:00
Juventude,2,1,Coritiba,Domingo,16:00
Juventude,1,1,Vitoria,Domingo,16:00
Juventude,1,1,Guarani,Domingo,16:00
Juventude,1,1,Santos,Sabado,18:00
...,...,...,...,...,...
Juventude,0,0,Bahia,Sabado,19:15
Juventude,2,1,Internacional,Quarta-feira,21:30
Juventude,1,0,Fluminense,Quarta-feira,20:31
Juventude,1,0,Bragantino,Quinta-feira,19:03
Juventude,1,0,Corinthians,Domingo,21:33

In [59]:
# A ideia dos colchetes para adicionar mais informações, também funciona para linhas: 
df.loc[["Juventude","Sao Paulo"], ["mandante_placar", "visitante_placar", "visitante","dia", "hora"]]

,mandante_placar,visitante_placar,visitante,dia,hora
mandante,,,,,
Juventude,2,2,Sao Paulo,Domingo,16:00
Juventude,2,1,Coritiba,Domingo,16:00
Juventude,1,1,Vitoria,Domingo,16:00
Juventude,1,1,Guarani,Domingo,16:00
Juventude,1,1,Santos,Sabado,18:00
...,...,...,...,...,...
Sao Paulo,1,0,Internacional,Domingo,18:15
Sao Paulo,0,4,Flamengo,Domingo,16:01
Sao Paulo,0,0,Athletico-PR,Quinta-feira,21:31
Sao Paulo,2,0,Sport,Quinta-feira,21:30
Sao Paulo,3,1,Juventude,Domingo,19:02

**FILTRANDO DATA FRAME - UMA CONDIÇÃO**

In [60]:
df = pd.read_csv("campeonato-brasileiro-full.csv")

In [61]:
df.head()

,ID,rodada,data,hora,dia,mandante,visitante,formacao_mandante,formacao_visitante,tecnico_mandante,tecnico_visitante,vencedor,arena,mandante_placar,visitante_placar,mandante_estado,visitante_estado,estado_vencedor
0,1,1,2003-03-29,16:00,Sabado,Guarani,Vasco,NaN,NaN,NaN,NaN,Guarani,brinco de ouro,4,2,SP,RJ,SP
1,2,1,2003-03-29,16:00,Sabado,Athletico-PR,Gremio,NaN,NaN,NaN,NaN,Athletico-PR,arena da baixada,2,0,PR,RS,PR
2,3,1,2003-03-30,16:00,Domingo,Flamengo,Coritiba,NaN,NaN,NaN,NaN,-,maracana,1,1,RJ,PR,-
3,4,1,2003-03-30,16:00,Domingo,Goias,Paysandu,NaN,NaN,NaN,NaN,-,serra dourada,2,2,GO,PA,-
4,5,1,2003-03-30,16:00,Domingo,Internacional,Ponte Preta,NaN,NaN,NaN,NaN,-,beira rio,1,1,RS,SP,-

In [62]:
#Uma maneira de filtrar, é utilizando df.NomeDaColuna, o computador percorre a coluna dia, e retorna true ou false com base no == domingo. 
df.dia == "Domingo"

0       False
1       False
2        True
3        True
4        True
        ...
7640     True
7641     True
7642     True
7643     True
7644     True
Name: dia, Length: 7645, dtype: bool

In [63]:
#Porém, as vezes pode ser interessante visualizar todas as informações que estão relacionadas com o dia Domingo: 
df[df.dia =="Domingo"]

,ID,rodada,data,hora,dia,mandante,visitante,formacao_mandante,formacao_visitante,tecnico_mandante,tecnico_visitante,vencedor,arena,mandante_placar,visitante_placar,mandante_estado,visitante_estado,estado_vencedor
2,3,1,2003-03-30,16:00,Domingo,Flamengo,Coritiba,NaN,NaN,NaN,NaN,-,maracana,1,1,RJ,PR,-
3,4,1,2003-03-30,16:00,Domingo,Goias,Paysandu,NaN,NaN,NaN,NaN,-,serra dourada,2,2,GO,PA,-
4,5,1,2003-03-30,16:00,Domingo,Internacional,Ponte Preta,NaN,NaN,NaN,NaN,-,beira rio,1,1,RS,SP,-
5,6,1,2003-03-30,16:00,Domingo,Criciuma,Fluminense,NaN,NaN,NaN,NaN,Criciuma,heriberto hulse,2,0,SC,RJ,SC
6,7,1,2003-03-30,16:00,Domingo,Juventude,Sao Paulo,NaN,NaN,NaN,NaN,-,alfredo jaconi,2,2,RS,SP,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7640,7641,38,2021-12-12,21:33,Domingo,Bragantino,Internacional,4-2-3-1,3-4-2-1,D. Aguirre Camblor,D. Aguirre Camblor,Bragantino,nabizao,1,0,SP,RS,SP
7641,7642,38,2021-12-12,21:30,Domingo,Sport,Athletico-PR,4-2-3-1,3-4-2-1,J. Freitas,J. Freitas,-,arena de pernambuco,1,1,PE,PR,-
7642,7643,38,2021-12-12,21:33,Domingo,Juventude,Corinthians,3-4-3,4-3-3,S. Campos Junior,S. Campos Junior,Juventude,alfredo jaconi,1,0,RS,SP,RS
7643,7644,38,2021-12-12,21:33,Domingo,Gremio,Atletico-MG,4-2-3-1,4-2-3-1,A. Stival,A. Stival,Gremio,arena do gremio,4,3,RS,MG,RS
7644,7645,38,2021-12-12,21:33,Domingo,Santos,Cuiaba,3-4-2-1,4-4-2,J. de Amorim Campos,J. de Amorim Campos,-,estadio urbano caldeira,1,1,SP,MT,-

In [64]:
#Também podemos fazer isso, utilizando o .loc 
df.loc[df.visitante == "Sao Paulo"]

,ID,rodada,data,hora,dia,mandante,visitante,formacao_mandante,formacao_visitante,tecnico_mandante,tecnico_visitante,vencedor,arena,mandante_placar,visitante_placar,mandante_estado,visitante_estado,estado_vencedor
6,7,1,2003-03-30,16:00,Domingo,Juventude,Sao Paulo,NaN,NaN,NaN,NaN,-,alfredo jaconi,2,2,RS,SP,-
29,42,3,2003-04-13,16:00,Domingo,Criciuma,Sao Paulo,NaN,NaN,NaN,NaN,-,heriberto hulse,1,1,SC,SP,-
70,71,6,2003-04-27,18:00,Domingo,Paysandu,Sao Paulo,NaN,NaN,NaN,NaN,Paysandu,mangueirao,5,2,PA,SP,PA
90,91,8,2003-05-11,16:00,Domingo,Atletico-MG,Sao Paulo,NaN,NaN,NaN,NaN,-,mineirao,2,2,MG,SP,-
115,116,10,2003-05-25,16:00,Domingo,Gremio,Sao Paulo,NaN,NaN,NaN,NaN,Sao Paulo,olimpico,1,2,RS,SP,SP
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7561,7582,30,2021-11-07,18:15,Domingo,Bahia,Sao Paulo,4-1-4-1,3-5-2,R. Ceni,R. Ceni,Bahia,itaipava arena fonte nova,1,0,BA,SP,BA
7571,7572,31,2021-11-10,21:31,Quarta-feira,Fortaleza,Sao Paulo,3-4-1-2,3-1-4-2,R. Ceni,R. Ceni,-,arena castelao,1,1,CE,SP,-
7591,7602,33,2021-11-17,20:29,Quarta-feira,Palmeiras,Sao Paulo,4-1-4-1,4-4-2,R. Ceni,R. Ceni,Sao Paulo,allianz parque,0,2,SP,SP,SP
7612,7613,35,2021-12-12,20:00,Domingo,Gremio,Sao Paulo,4-2-3-1,4-5-1,R. Ceni,R. Ceni,Gremio,arena do gremio,3,0,RS,SP,RS
7639,7640,38,2021-12-12,21:33,Domingo,America-MG,Sao Paulo,4-2-3-1,3-4-1-2,R. Ceni,R. Ceni,America-MG,estadio raimundo sampaio,2,0,MG,SP,MG

In [65]:
# Outra possibilidade interessante,  é que podemos filtrar mais de uma observação específica: 
df.loc[df.visitante == "Sao Paulo" , "formacao_visitante"]

6           NaN
29          NaN
70          NaN
90          NaN
115         NaN
         ...
7561      3-5-2
7571    3-1-4-2
7591      4-4-2
7612      4-5-1
7639    3-4-1-2
Name: formacao_visitante, Length: 371, dtype: object

In [66]:
# Também podemos criar uma variável que receba uma indormação sobre uma determinada coluna, e nos retorne true ou false. 
sp_visita = df.visitante == "Sao Paulo"  # Veirifica quando o são paulo é visitante, e armazena-o.

In [67]:
sp_visita  # Variável que armazena todos as observações que contém o sao paulo visitante.

0       False
1       False
2       False
3       False
4       False
        ...
7640    False
7641    False
7642    False
7643    False
7644    False
Name: visitante, Length: 7645, dtype: bool

In [68]:
# Agora podemos criar um DataFrame, somente com as observações que contém o São paulo de visitante.

In [69]:
df_sp_visita = df.loc[sp_visita]   # isso porque armazenamos na variável sp_visita, como sendo todas as informações que ontém na coluna visitante 
# O valor São paulo.  # "crie um DataFrame", pegando toda a informação dentro do Dataframe original, que contenha "sp_visita"

In [70]:
# Aqui o Dataframe, que conntém todos os jogos do Sao Paulo, do dataframe original, em que o São paulo é o visitante. 
df_sp_visita

,ID,rodada,data,hora,dia,mandante,visitante,formacao_mandante,formacao_visitante,tecnico_mandante,tecnico_visitante,vencedor,arena,mandante_placar,visitante_placar,mandante_estado,visitante_estado,estado_vencedor
6,7,1,2003-03-30,16:00,Domingo,Juventude,Sao Paulo,NaN,NaN,NaN,NaN,-,alfredo jaconi,2,2,RS,SP,-
29,42,3,2003-04-13,16:00,Domingo,Criciuma,Sao Paulo,NaN,NaN,NaN,NaN,-,heriberto hulse,1,1,SC,SP,-
70,71,6,2003-04-27,18:00,Domingo,Paysandu,Sao Paulo,NaN,NaN,NaN,NaN,Paysandu,mangueirao,5,2,PA,SP,PA
90,91,8,2003-05-11,16:00,Domingo,Atletico-MG,Sao Paulo,NaN,NaN,NaN,NaN,-,mineirao,2,2,MG,SP,-
115,116,10,2003-05-25,16:00,Domingo,Gremio,Sao Paulo,NaN,NaN,NaN,NaN,Sao Paulo,olimpico,1,2,RS,SP,SP
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7561,7582,30,2021-11-07,18:15,Domingo,Bahia,Sao Paulo,4-1-4-1,3-5-2,R. Ceni,R. Ceni,Bahia,itaipava arena fonte nova,1,0,BA,SP,BA
7571,7572,31,2021-11-10,21:31,Quarta-feira,Fortaleza,Sao Paulo,3-4-1-2,3-1-4-2,R. Ceni,R. Ceni,-,arena castelao,1,1,CE,SP,-
7591,7602,33,2021-11-17,20:29,Quarta-feira,Palmeiras,Sao Paulo,4-1-4-1,4-4-2,R. Ceni,R. Ceni,Sao Paulo,allianz parque,0,2,SP,SP,SP
7612,7613,35,2021-12-12,20:00,Domingo,Gremio,Sao Paulo,4-2-3-1,4-5-1,R. Ceni,R. Ceni,Gremio,arena do gremio,3,0,RS,SP,RS
7639,7640,38,2021-12-12,21:33,Domingo,America-MG,Sao Paulo,4-2-3-1,3-4-1-2,R. Ceni,R. Ceni,America-MG,estadio raimundo sampaio,2,0,MG,SP,MG

In [71]:
#Por curiosidade, eu quero saber todas as vezes que o São Paulo utilizou a formação 4-4-2, em um jogo como visitante
formacao4_4_2 = df_sp_visita.loc[df_sp_visita.formacao_visitante == "4-4-2"]

In [72]:
# Armazenei isso em um variável, e se eu printar a variável que é um Df, teremos todos os jogos em que o São paulo foi visitante, e utilizou a formação 
formacao4_4_2

,ID,rodada,data,hora,dia,mandante,visitante,formacao_mandante,formacao_visitante,tecnico_mandante,tecnico_visitante,vencedor,arena,mandante_placar,visitante_placar,mandante_estado,visitante_estado,estado_vencedor
4822,4833,22,2014-09-17,22:00,Quarta-feira,Coritiba,Sao Paulo,4-3-2-1,4-4-2,M. Ramalho,M. Ramalho,Coritiba,couto pereira,3,1,PR,SP,PR
6425,6426,31,2018-10-26,19:31,Sexta-feira,Vitoria,Sao Paulo,4-1-4-1,4-4-2,D. Aguirre Camblor,D. Aguirre Camblor,Sao Paulo,barradao,0,1,BA,SP,SP
7009,7010,13,2020-10-04,16:00,Domingo,Coritiba,Sao Paulo,4-2-3-1,4-4-2,F. Diniz Silva,F. Diniz Silva,-,couto pereira,1,1,PR,SP,-
7044,7045,16,2020-11-25,19:15,Quarta-feira,Ceara,Sao Paulo,4-2-3-1,4-4-2,F. Diniz Silva,F. Diniz Silva,-,arena castelao,1,1,CE,SP,-
7069,7070,19,2020-11-01,16:00,Domingo,Flamengo,Sao Paulo,4-2-3-1,4-4-2,F. Diniz Silva,F. Diniz Silva,Sao Paulo,maracana,1,4,RJ,SP,SP
7110,7111,23,2020-11-28,18:59,Sabado,Bahia,Sao Paulo,4-3-3,4-4-2,F. Diniz Silva,F. Diniz Silva,Sao Paulo,itaipava arena fonte nova,1,3,BA,SP,SP
7132,7133,25,2020-12-13,18:15,Domingo,Corinthians,Sao Paulo,4-2-3-1,4-4-2,F. Diniz Silva,F. Diniz Silva,Corinthians,neo quimica arena,1,0,SP,SP,SP
7148,7149,27,2020-12-26,20:59,Sabado,Fluminense,Sao Paulo,4-2-3-1,4-4-2,F. Diniz Silva,F. Diniz Silva,Sao Paulo,maracana,1,2,RJ,SP,SP
7160,7161,28,2021-01-06,21:30,Quarta-feira,Bragantino,Sao Paulo,4-1-4-1,4-4-2,F. Diniz Silva,F. Diniz Silva,Bragantino,nabizao,4,2,SP,SP,SP
7178,7179,30,2021-01-17,15:59,Domingo,Athletico-PR,Sao Paulo,4-2-3-1,4-4-2,F. Diniz Silva,F. Diniz Silva,-,estadio joaquim americo guimaraes,1,1,PR,SP,-
7207,7208,33,2021-01-31,15:59,Domingo,Atletico-GO,Sao Paulo,4-2-3-1,4-4-2,F. Diniz Silva,F. Diniz Silva,Atletico-GO,estadio antonio accioly,2,1,GO,SP,GO
7242,7243,36,2021-02-14,20:29,Domingo,Gremio,Sao Paulo,4-2-3-1,4-4-2,M. Vizolli,M. Vizolli,Sao Paulo,arena do gremio,1,2,RS,SP,SP
7254,7255,37,2021-02-22,19:59,Segunda-feira,Botafogo-RJ,Sao Paulo,4-4-2,4-4-2,M. Vizolli,M. Vizolli,Botafogo-RJ,estadio nilton santos,1,0,RJ,SP,RJ
7591,7602,33,2021-11-17,20:29,Quarta-feira,Palmeiras,Sao Paulo,4-1-4-1,4-4-2,R. Ceni,R. Ceni,Sao Paulo,allianz parque,0,2,SP,SP,SP

**Filtrando DataFrame, múltiplas condições**

In [73]:
df = pd.read_csv("campeonato-brasileiro-full.csv")

In [74]:
df.head()

,ID,rodada,data,hora,dia,mandante,visitante,formacao_mandante,formacao_visitante,tecnico_mandante,tecnico_visitante,vencedor,arena,mandante_placar,visitante_placar,mandante_estado,visitante_estado,estado_vencedor
0,1,1,2003-03-29,16:00,Sabado,Guarani,Vasco,NaN,NaN,NaN,NaN,Guarani,brinco de ouro,4,2,SP,RJ,SP
1,2,1,2003-03-29,16:00,Sabado,Athletico-PR,Gremio,NaN,NaN,NaN,NaN,Athletico-PR,arena da baixada,2,0,PR,RS,PR
2,3,1,2003-03-30,16:00,Domingo,Flamengo,Coritiba,NaN,NaN,NaN,NaN,-,maracana,1,1,RJ,PR,-
3,4,1,2003-03-30,16:00,Domingo,Goias,Paysandu,NaN,NaN,NaN,NaN,-,serra dourada,2,2,GO,PA,-
4,5,1,2003-03-30,16:00,Domingo,Internacional,Ponte Preta,NaN,NaN,NaN,NaN,-,beira rio,1,1,RS,SP,-

In [75]:
# Variável, vá ao meu df.coluna mandante, e analisa pra mim, os valores Sao Paulo. 
mandante_sp = df.mandante == "Sao Paulo"

In [76]:
# Como atribuímos a essa variável todas as ocasiões, em que o valor Sao Paulo aparece na feature "mandante", ela funciona como um booliano, 
#Como se ela percorresse toda a coluna, verificando se existe (TRUE) ou não existe (FALSE) o valor Sao Paulo, naquela linha. Logo se dermos um .head():
mandante_sp.head()

0    False
1    False
2    False
3    False
4    False
Name: mandante, dtype: bool

In [77]:
# Agora como a ideia é analisar, múltiplas condições, podemos criar uma nova variável, com uma nova condição. A ideia
# é verificar se o time fez pelo menos 2 gols, 
gols_feitos = df.mandante_placar >= 2

In [78]:
# Da mesma forma, a variável percorre a coluna, verificando se o valor é >= 2 e nos retorna TRUE ou FALSE. 
gols_feitos.head()

0     True
1     True
2    False
3     True
4    False
Name: mandante_placar, dtype: bool

In [79]:
# Aqui o pc esta percorrendo as colunas de interesse, e verificando se satisfaz ambas condições, detalhe para o "&"
# que funcionou e não consegui aplicar o "and" o qual eu achava que era a mesma coisa.
(mandante_sp & gols_feitos).head()

0    False
1    False
2    False
3    False
4    False
dtype: bool

In [80]:
# Podemos então criar uma nova variável, chamada sp gol feitos, juntando essas duas.
# Essa variável pede ao Df todas as observações que satisfazem ambas as condições. 
sp_gols_feitos = df.loc[(mandante_sp & gols_feitos)]

In [81]:
sp_gols_feitos

,ID,rodada,data,hora,dia,mandante,visitante,formacao_mandante,formacao_visitante,tecnico_mandante,tecnico_visitante,vencedor,arena,mandante_placar,visitante_placar,mandante_estado,visitante_estado,estado_vencedor
22,23,2,2003-04-06,18:00,Domingo,Sao Paulo,Cruzeiro,NaN,NaN,NaN,NaN,Cruzeiro,morumbi,2,4,SP,MG,MG
46,35,4,2003-04-17,20:30,Quinta-feira,Sao Paulo,Fortaleza,NaN,NaN,NaN,NaN,Sao Paulo,morumbi,3,1,SP,CE,SP
51,52,5,2003-04-20,16:00,Domingo,Sao Paulo,Vasco,NaN,NaN,NaN,NaN,Sao Paulo,morumbi,3,1,SP,RJ,SP
76,77,7,2003-05-04,16:00,Domingo,Sao Paulo,Figueirense,NaN,NaN,NaN,NaN,Sao Paulo,morumbi,3,2,SP,SC,SP
107,108,9,2003-05-18,18:00,Domingo,Sao Paulo,Parana,NaN,NaN,NaN,NaN,Sao Paulo,morumbi,2,0,SP,PR,SP
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7316,7317,6,2021-06-23,19:00,Quarta-feira,Sao Paulo,Cuiaba,3-5-2,4-5-1,L. Iubel,L. Iubel,-,morumbi,2,2,SP,MT,-
7417,7418,16,2021-08-14,21:01,Sabado,Sao Paulo,Gremio,3-4-1-2,4-2-3-1,L. Scolari,L. Scolari,Sao Paulo,morumbi,2,1,SP,RS,SP
7471,7472,21,2021-09-19,16:01,Domingo,Sao Paulo,Atletico-GO,4-3-3,4-4-2,E. de Souza Barroca,E. de Souza Barroca,Sao Paulo,morumbi,2,1,SP,GO,SP
7617,7618,36,2021-11-11,21:30,Quinta-feira,Sao Paulo,Sport,4-4-2,4-3-3,G. Florentín,G. Florentín,Sao Paulo,morumbi,2,0,SP,PE,SP
7629,7630,37,2021-12-12,19:02,Domingo,Sao Paulo,Juventude,4-3-3,4-4-2,J. Ribeiro Ventura,J. Ribeiro Ventura,Sao Paulo,morumbi,3,1,SP,RS,SP

In [82]:
# Podemos também, pedir ao df, somente algumas colunas das observações que satisfazem ambas condições, por exemplo: 
sp_gols_feitos = df.loc[(mandante_sp & gols_feitos),["hora", "dia", "visitante"]]

In [83]:
#Aqui, vamos observar apenas a hora, o dia e o visitante, que sofreu pelo menos 2 gols do Sao Paulo, atuando como mandante. 
sp_gols_feitos

       hora           dia    visitante
22    18:00       Domingo     Cruzeiro
46    20:30  Quinta-feira    Fortaleza
51    16:00       Domingo        Vasco
76    16:00       Domingo  Figueirense
107   18:00       Domingo       Parana
...     ...           ...          ...
7316  19:00  Quarta-feira       Cuiaba
7417  21:01        Sabado       Gremio
7471  16:01       Domingo  Atletico-GO
7617  21:30  Quinta-feira        Sport
7629  19:02       Domingo    Juventude

[185 rows x 3 columns]

In [84]:
# A partir disso, temos um pedaço interessante do Df, onde podemos aplicar métodos e ir investigando os casos. 
sp_gols_feitos.info()
#Então, sabemos que foram 185 vezes que o Sao Paulo fez mais de 2 gols como mandante; e que os valores das colunas escolhidas são do tipo object

<class 'pandas.core.frame.DataFrame'>
Int64Index: 185 entries, 22 to 7629
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   hora       185 non-null    object
 1   dia        185 non-null    object
 2   visitante  185 non-null    object
dtypes: object(3)
memory usage: 5.8+ KB

In [85]:
# Devido as colunas escolhidas, esse .describe não faz muito sentido, uma vez que os valores são do tipo object. 
sp_gols_feitos.describe()
# Mas em outras ocasiões, como o caso de colunas do tipo int, pode ser bastante útil ter esse resumo

         hora      dia visitante
count     185      185       185
unique     47        6        37
top     16:00  Domingo  Flamengo
freq       37       68        11

In [86]:
# Existem alguns métodos que também nos ajudam a filtrar informações, para entendermos de uma forma que fique bem clara, vamos primeiro trabalhar
# a coluna data, que está do tipo objeto, pois os valores dela "2021-03-05" mistura numeros e caracteres. 
df.head()

,ID,rodada,data,hora,dia,mandante,visitante,formacao_mandante,formacao_visitante,tecnico_mandante,tecnico_visitante,vencedor,arena,mandante_placar,visitante_placar,mandante_estado,visitante_estado,estado_vencedor
0,1,1,2003-03-29,16:00,Sabado,Guarani,Vasco,NaN,NaN,NaN,NaN,Guarani,brinco de ouro,4,2,SP,RJ,SP
1,2,1,2003-03-29,16:00,Sabado,Athletico-PR,Gremio,NaN,NaN,NaN,NaN,Athletico-PR,arena da baixada,2,0,PR,RS,PR
2,3,1,2003-03-30,16:00,Domingo,Flamengo,Coritiba,NaN,NaN,NaN,NaN,-,maracana,1,1,RJ,PR,-
3,4,1,2003-03-30,16:00,Domingo,Goias,Paysandu,NaN,NaN,NaN,NaN,-,serra dourada,2,2,GO,PA,-
4,5,1,2003-03-30,16:00,Domingo,Internacional,Ponte Preta,NaN,NaN,NaN,NaN,-,beira rio,1,1,RS,SP,-

In [87]:
# Provando que a coluna Data,  é do tipo object, antes de mudarmos. 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7645 entries, 0 to 7644
Data columns (total 18 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ID                  7645 non-null   int64
 1   rodada              7645 non-null   int64
 2   data                7645 non-null   object
 3   hora                7645 non-null   object
 4   dia                 7645 non-null   object
 5   mandante            7645 non-null   object
 6   visitante           7645 non-null   object
 7   formacao_mandante   2671 non-null   object
 8   formacao_visitante  2671 non-null   object
 9   tecnico_mandante    3035 non-null   object
 10  tecnico_visitante   3035 non-null   object
 11  vencedor            7645 non-null   object
 12  arena               7645 non-null   object
 13  mandante_placar     7645 non-null   int64
 14  visitante_placar    7645 non-null   int64
 15  mandante_estado     7645 non-null   object
 16  visitante_estado    7645 non-null   object
 17  estado_vencedor     7645 non-null   object
dtypes: int64(4), object(14)
memory usage: 1.1+ MB

In [88]:
#Mudando o tipo da coluna data, para datetime, que é quando temos "ano-mes-dia " ou "Hora-minuto-segundos".
df.data = pd.to_datetime(df.data, format= '%Y-%m-%d')

In [89]:
#Verificando se deu certo, a transformação para datetime. 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7645 entries, 0 to 7644
Data columns (total 18 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ID                  7645 non-null   int64
 1   rodada              7645 non-null   int64
 2   data                7645 non-null   datetime64[ns]
 3   hora                7645 non-null   object
 4   dia                 7645 non-null   object
 5   mandante            7645 non-null   object
 6   visitante           7645 non-null   object
 7   formacao_mandante   2671 non-null   object
 8   formacao_visitante  2671 non-null   object
 9   tecnico_mandante    3035 non-null   object
 10  tecnico_visitante   3035 non-null   object
 11  vencedor            7645 non-null   object
 12  arena               7645 non-null   object
 13  mandante_placar     7645 non-null   int64
 14  visitante_placar    7645 non-null   int64
 15  mandante_estado     7645 non-null   object
 16  visitante_estado    7645 non-null   object
 17  estado_vencedor     7645 non-null   object
dtypes: datetime64[ns](1), int64(4), object(13)
memory usage: 1.1+ MB

In [90]:
# Depois de utilizar o datetime, podemos utilizar um outro método bastante interessante, que nos permite acessar 
#a informação e pegar apenas o que a gente quer 
df['ano_jogo'] = df['data'].dt.year  # Criando uma nova Coluna apenas com o ano

In [91]:
#Verificando se a nova coluna foi adicionada ao df
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7645 entries, 0 to 7644
Data columns (total 19 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ID                  7645 non-null   int64
 1   rodada              7645 non-null   int64
 2   data                7645 non-null   datetime64[ns]
 3   hora                7645 non-null   object
 4   dia                 7645 non-null   object
 5   mandante            7645 non-null   object
 6   visitante           7645 non-null   object
 7   formacao_mandante   2671 non-null   object
 8   formacao_visitante  2671 non-null   object
 9   tecnico_mandante    3035 non-null   object
 10  tecnico_visitante   3035 non-null   object
 11  vencedor            7645 non-null   object
 12  arena               7645 non-null   object
 13  mandante_placar     7645 non-null   int64
 14  visitante_placar    7645 non-null   int64
 15  mandante_estado     7645 non-null   object
 16  visitante_estado    7645 non-null   object
 17  estado_vencedor     7645 non-null   object
 18  ano_jogo            7645 non-null   int64
dtypes: datetime64[ns](1), int64(5), object(13)
memory usage: 1.1+ MB

In [92]:
df.head()

,ID,rodada,data,hora,dia,mandante,visitante,formacao_mandante,formacao_visitante,tecnico_mandante,tecnico_visitante,vencedor,arena,mandante_placar,visitante_placar,mandante_estado,visitante_estado,estado_vencedor,ano_jogo
0,1,1,2003-03-29,16:00,Sabado,Guarani,Vasco,NaN,NaN,NaN,NaN,Guarani,brinco de ouro,4,2,SP,RJ,SP,2003
1,2,1,2003-03-29,16:00,Sabado,Athletico-PR,Gremio,NaN,NaN,NaN,NaN,Athletico-PR,arena da baixada,2,0,PR,RS,PR,2003
2,3,1,2003-03-30,16:00,Domingo,Flamengo,Coritiba,NaN,NaN,NaN,NaN,-,maracana,1,1,RJ,PR,-,2003
3,4,1,2003-03-30,16:00,Domingo,Goias,Paysandu,NaN,NaN,NaN,NaN,-,serra dourada,2,2,GO,PA,-,2003
4,5,1,2003-03-30,16:00,Domingo,Internacional,Ponte Preta,NaN,NaN,NaN,NaN,-,beira rio,1,1,RS,SP,-,2003

In [93]:
# Ou seja, o pandas pegou somente a parte "year", da minha coluna data, e criou uma nova coluna do meu df, com essa informação isolada

In [94]:
# Com base nisso, podemos utilizar tudo que vimos de .loc[], para verificar, por exemplo, apenas um determinado ano
df_2003 = df.loc[df.ano_jogo == 2003]

In [95]:
df_2003.head()

,ID,rodada,data,hora,dia,mandante,visitante,formacao_mandante,formacao_visitante,tecnico_mandante,tecnico_visitante,vencedor,arena,mandante_placar,visitante_placar,mandante_estado,visitante_estado,estado_vencedor,ano_jogo
0,1,1,2003-03-29,16:00,Sabado,Guarani,Vasco,NaN,NaN,NaN,NaN,Guarani,brinco de ouro,4,2,SP,RJ,SP,2003
1,2,1,2003-03-29,16:00,Sabado,Athletico-PR,Gremio,NaN,NaN,NaN,NaN,Athletico-PR,arena da baixada,2,0,PR,RS,PR,2003
2,3,1,2003-03-30,16:00,Domingo,Flamengo,Coritiba,NaN,NaN,NaN,NaN,-,maracana,1,1,RJ,PR,-,2003
3,4,1,2003-03-30,16:00,Domingo,Goias,Paysandu,NaN,NaN,NaN,NaN,-,serra dourada,2,2,GO,PA,-,2003
4,5,1,2003-03-30,16:00,Domingo,Internacional,Ponte Preta,NaN,NaN,NaN,NaN,-,beira rio,1,1,RS,SP,-,2003

In [96]:
# Um método interessante é o between, o qual criamos uma variável, com as informações do intervalo desejado. 
df_bet = df.loc[df.ano_jogo.between(2003, 2006, inclusive=True)]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated infavour of `both` or `neither`.

In [97]:
 # Primeiras linhas do intervalo escolhido, serão do ano 2003 
df_bet.head()

,ID,rodada,data,hora,dia,mandante,visitante,formacao_mandante,formacao_visitante,tecnico_mandante,tecnico_visitante,vencedor,arena,mandante_placar,visitante_placar,mandante_estado,visitante_estado,estado_vencedor,ano_jogo
0,1,1,2003-03-29,16:00,Sabado,Guarani,Vasco,NaN,NaN,NaN,NaN,Guarani,brinco de ouro,4,2,SP,RJ,SP,2003
1,2,1,2003-03-29,16:00,Sabado,Athletico-PR,Gremio,NaN,NaN,NaN,NaN,Athletico-PR,arena da baixada,2,0,PR,RS,PR,2003
2,3,1,2003-03-30,16:00,Domingo,Flamengo,Coritiba,NaN,NaN,NaN,NaN,-,maracana,1,1,RJ,PR,-,2003
3,4,1,2003-03-30,16:00,Domingo,Goias,Paysandu,NaN,NaN,NaN,NaN,-,serra dourada,2,2,GO,PA,-,2003
4,5,1,2003-03-30,16:00,Domingo,Internacional,Ponte Preta,NaN,NaN,NaN,NaN,-,beira rio,1,1,RS,SP,-,2003

In [98]:
# Ultimas linhas referente ao final do intervalo, estão corretas = 2006 
df_bet.tail()

,ID,rodada,data,hora,dia,mandante,visitante,formacao_mandante,formacao_visitante,tecnico_mandante,tecnico_visitante,vencedor,arena,mandante_placar,visitante_placar,mandante_estado,visitante_estado,estado_vencedor,ano_jogo
1941,1942,38,2006-12-03,16:00,Domingo,Cruzeiro,Botafogo-RJ,NaN,NaN,NaN,NaN,Cruzeiro,mineirao,3,1,MG,RJ,MG,2006
1942,1943,38,2006-12-03,16:00,Domingo,Ponte Preta,Athletico-PR,NaN,NaN,NaN,NaN,-,moises lucarelli,1,1,SP,PR,-,2006
1943,1944,38,2006-12-03,16:00,Domingo,Corinthians,Juventude,NaN,NaN,NaN,NaN,Corinthians,pacaembu,5,3,SP,RS,SP,2006
1944,1945,38,2006-12-03,18:10,Domingo,Fortaleza,Gremio,NaN,NaN,NaN,NaN,Fortaleza,presidente vargas,1,0,CE,RS,CE,2006
1945,1946,38,2006-12-03,18:10,Domingo,Santos,Santa Cruz,NaN,NaN,NaN,NaN,Santos,vila belmiro,3,1,SP,PE,SP,2006

In [99]:
# Método isin()
# Primeiro, utilizamos o conceito de lista, para determinar os anos que queremos analisar. 
year_03_06 = [2003,2006]

In [100]:
# Aqui o isin(), confere se as primeiras observações, estão dentro do intervalo, que lhe foi passado, no caso a variável com uma lista armazenada. 
df.ano_jogo.isin(year_03_06).head()

0    True
1    True
2    True
3    True
4    True
Name: ano_jogo, dtype: bool

In [101]:
# Aqui provando que o isin() deu certo, visto que as ultimas linhas do meu df, estão fora do intervalo armazenado nas listas. 
df.ano_jogo.isin(year_03_06).tail()
# Também é importante observar, que quando falo "intervalo" não me refiro a 03 até 06, por exemplo o ano 2005, não faz parte.

7640    False
7641    False
7642    False
7643    False
7644    False
Name: ano_jogo, dtype: bool

In [102]:
df_03_06 = df.loc[df.ano_jogo.isin(year_03_06)]

In [103]:
df_03_06.head()

,ID,rodada,data,hora,dia,mandante,visitante,formacao_mandante,formacao_visitante,tecnico_mandante,tecnico_visitante,vencedor,arena,mandante_placar,visitante_placar,mandante_estado,visitante_estado,estado_vencedor,ano_jogo
0,1,1,2003-03-29,16:00,Sabado,Guarani,Vasco,NaN,NaN,NaN,NaN,Guarani,brinco de ouro,4,2,SP,RJ,SP,2003
1,2,1,2003-03-29,16:00,Sabado,Athletico-PR,Gremio,NaN,NaN,NaN,NaN,Athletico-PR,arena da baixada,2,0,PR,RS,PR,2003
2,3,1,2003-03-30,16:00,Domingo,Flamengo,Coritiba,NaN,NaN,NaN,NaN,-,maracana,1,1,RJ,PR,-,2003
3,4,1,2003-03-30,16:00,Domingo,Goias,Paysandu,NaN,NaN,NaN,NaN,-,serra dourada,2,2,GO,PA,-,2003
4,5,1,2003-03-30,16:00,Domingo,Internacional,Ponte Preta,NaN,NaN,NaN,NaN,-,beira rio,1,1,RS,SP,-,2003

In [104]:
df_03_06.tail()

,ID,rodada,data,hora,dia,mandante,visitante,formacao_mandante,formacao_visitante,tecnico_mandante,tecnico_visitante,vencedor,arena,mandante_placar,visitante_placar,mandante_estado,visitante_estado,estado_vencedor,ano_jogo
1941,1942,38,2006-12-03,16:00,Domingo,Cruzeiro,Botafogo-RJ,NaN,NaN,NaN,NaN,Cruzeiro,mineirao,3,1,MG,RJ,MG,2006
1942,1943,38,2006-12-03,16:00,Domingo,Ponte Preta,Athletico-PR,NaN,NaN,NaN,NaN,-,moises lucarelli,1,1,SP,PR,-,2006
1943,1944,38,2006-12-03,16:00,Domingo,Corinthians,Juventude,NaN,NaN,NaN,NaN,Corinthians,pacaembu,5,3,SP,RS,SP,2006
1944,1945,38,2006-12-03,18:10,Domingo,Fortaleza,Gremio,NaN,NaN,NaN,NaN,Fortaleza,presidente vargas,1,0,CE,RS,CE,2006
1945,1946,38,2006-12-03,18:10,Domingo,Santos,Santa Cruz,NaN,NaN,NaN,NaN,Santos,vila belmiro,3,1,SP,PE,SP,2006

In [105]:
# Também podemos utilizar o .unique(), para contar as observações (ano), de maneira única isto é, apenas uma vez, cada observação diferente. 
df_03_06.ano_jogo.unique()

array([2003, 2006])

In [106]:
# Importante reparar, que não se trata do intervalo, como o between, e sim de dois anos isolados.

In [107]:
# E se quisermos todos os anos que não sejam 2003 nem 2006. Utilizamos o conceito de negação "~".
df_not_03_06 = df.loc[~df.ano_jogo.isin(year_03_06)]

In [108]:
# Comprovando a observação supracitada, aqui vemos a diferença entre o between, e o isin()
df_not_03_06.ano_jogo.unique()

array([2004, 2005, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015,
       2016, 2017, 2018, 2019, 2020, 2021])

In [109]:
# Só para confirmar, como podemos ver, o df formado através de um between, contgém todos os anos ENTRE os anos, e não só os dois de maneira isolada. 
df_bet.ano_jogo.unique()

array([2003, 2004, 2005, 2006])

In [110]:
#Dois métodos que ajudam bastante a verificar se existe um determinado elemento dentro do nosso dataFrame, é o any(), e o all().

In [111]:
# até agora, estávamos verificando informações, utilizando:
df.mandante == "Sao Paulo"

0       False
1       False
2       False
3       False
4       False
        ...
7640    False
7641    False
7642    False
7643    False
7644    False
Name: mandante, Length: 7645, dtype: bool

In [112]:
# Porém como podemos observar, o computador só nos retornou false, isso porque o mandante = Sao paulo não esta nem nas primeiras nem nas ultimas linhas. 
# Para solucionar esse problema podemos utilizae o any()
(df.mandante == "Sao Paulo").any()

True

In [113]:
#Note que a resposta também, é um booliano, porém o any(), se baseia na seguinte pergunta:
# Dentro dessa coluna df.mandante, existe um valor "Sao Paulo", se sim = true, se nao = false.

In [114]:
#Por curiosidade 
(df.mandante_placar == 8).any()
# Isto é, será que algum time conseguiu fazer 8 gols, jogando como mandante ?

False

In [115]:
# E 7 gols, será que ja aconteceu ? 
(df.mandante_placar == 7).any()

True

In [116]:
# Utilizando all(), para verificar se todas as observações de uma determinada coluna do meu df, são a de meu interesse:
(df.mandante == "Sao Paulo").all()
# Realmente é false, seria impossível todos os jogos de um campeonato terem o Sao paulo como mandante.

False

In [117]:
# Removendo Colunas de um DataFrame = df.drop() - Excluindo apenas uma coluna. 
df.drop(columns= "ID")
# Então podemos ver que a coluna Id foi removida.

,rodada,data,hora,dia,mandante,visitante,formacao_mandante,formacao_visitante,tecnico_mandante,tecnico_visitante,vencedor,arena,mandante_placar,visitante_placar,mandante_estado,visitante_estado,estado_vencedor,ano_jogo
0,1,2003-03-29,16:00,Sabado,Guarani,Vasco,NaN,NaN,NaN,NaN,Guarani,brinco de ouro,4,2,SP,RJ,SP,2003
1,1,2003-03-29,16:00,Sabado,Athletico-PR,Gremio,NaN,NaN,NaN,NaN,Athletico-PR,arena da baixada,2,0,PR,RS,PR,2003
2,1,2003-03-30,16:00,Domingo,Flamengo,Coritiba,NaN,NaN,NaN,NaN,-,maracana,1,1,RJ,PR,-,2003
3,1,2003-03-30,16:00,Domingo,Goias,Paysandu,NaN,NaN,NaN,NaN,-,serra dourada,2,2,GO,PA,-,2003
4,1,2003-03-30,16:00,Domingo,Internacional,Ponte Preta,NaN,NaN,NaN,NaN,-,beira rio,1,1,RS,SP,-,2003
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7640,38,2021-12-12,21:33,Domingo,Bragantino,Internacional,4-2-3-1,3-4-2-1,D. Aguirre Camblor,D. Aguirre Camblor,Bragantino,nabizao,1,0,SP,RS,SP,2021
7641,38,2021-12-12,21:30,Domingo,Sport,Athletico-PR,4-2-3-1,3-4-2-1,J. Freitas,J. Freitas,-,arena de pernambuco,1,1,PE,PR,-,2021
7642,38,2021-12-12,21:33,Domingo,Juventude,Corinthians,3-4-3,4-3-3,S. Campos Junior,S. Campos Junior,Juventude,alfredo jaconi,1,0,RS,SP,RS,2021
7643,38,2021-12-12,21:33,Domingo,Gremio,Atletico-MG,4-2-3-1,4-2-3-1,A. Stival,A. Stival,Gremio,arena do gremio,4,3,RS,MG,RS,2021
7644,38,2021-12-12,21:33,Domingo,Santos,Cuiaba,3-4-2-1,4-4-2,J. de Amorim Campos,J. de Amorim Campos,-,estadio urbano caldeira,1,1,SP,MT,-,2021

In [118]:
#Porém é necessário atentar-se a um outro parâmetro do metodo drop, que é o inplace= True/False, que basicamente é o parâmetro que pede ao pandas 
#Para que ele salve a alteração no meu df. Neste caso, se eu der um .head, o id estará de volta:
df.head()

,ID,rodada,data,hora,dia,mandante,visitante,formacao_mandante,formacao_visitante,tecnico_mandante,tecnico_visitante,vencedor,arena,mandante_placar,visitante_placar,mandante_estado,visitante_estado,estado_vencedor,ano_jogo
0,1,1,2003-03-29,16:00,Sabado,Guarani,Vasco,NaN,NaN,NaN,NaN,Guarani,brinco de ouro,4,2,SP,RJ,SP,2003
1,2,1,2003-03-29,16:00,Sabado,Athletico-PR,Gremio,NaN,NaN,NaN,NaN,Athletico-PR,arena da baixada,2,0,PR,RS,PR,2003
2,3,1,2003-03-30,16:00,Domingo,Flamengo,Coritiba,NaN,NaN,NaN,NaN,-,maracana,1,1,RJ,PR,-,2003
3,4,1,2003-03-30,16:00,Domingo,Goias,Paysandu,NaN,NaN,NaN,NaN,-,serra dourada,2,2,GO,PA,-,2003
4,5,1,2003-03-30,16:00,Domingo,Internacional,Ponte Preta,NaN,NaN,NaN,NaN,-,beira rio,1,1,RS,SP,-,2003

In [119]:
# Logo para salvar a informação passamos: 
df.drop(columns= "ID", inplace= True)

In [120]:
df.head()
# Agora sim, excluimos a coluna ID, e salvamos a alteração no nosso df.

,rodada,data,hora,dia,mandante,visitante,formacao_mandante,formacao_visitante,tecnico_mandante,tecnico_visitante,vencedor,arena,mandante_placar,visitante_placar,mandante_estado,visitante_estado,estado_vencedor,ano_jogo
0,1,2003-03-29,16:00,Sabado,Guarani,Vasco,NaN,NaN,NaN,NaN,Guarani,brinco de ouro,4,2,SP,RJ,SP,2003
1,1,2003-03-29,16:00,Sabado,Athletico-PR,Gremio,NaN,NaN,NaN,NaN,Athletico-PR,arena da baixada,2,0,PR,RS,PR,2003
2,1,2003-03-30,16:00,Domingo,Flamengo,Coritiba,NaN,NaN,NaN,NaN,-,maracana,1,1,RJ,PR,-,2003
3,1,2003-03-30,16:00,Domingo,Goias,Paysandu,NaN,NaN,NaN,NaN,-,serra dourada,2,2,GO,PA,-,2003
4,1,2003-03-30,16:00,Domingo,Internacional,Ponte Preta,NaN,NaN,NaN,NaN,-,beira rio,1,1,RS,SP,-,2003

In [121]:
# Uma outra possibilidade é excluirmos mais de uma coluna em uma mesma linha de código. Para isso, utilizamos as listas.  
df.drop(columns= ["dia", "arena"], inplace= True)

In [122]:
#Verificando 
df.head()

,rodada,data,hora,mandante,visitante,formacao_mandante,formacao_visitante,tecnico_mandante,tecnico_visitante,vencedor,mandante_placar,visitante_placar,mandante_estado,visitante_estado,estado_vencedor,ano_jogo
0,1,2003-03-29,16:00,Guarani,Vasco,NaN,NaN,NaN,NaN,Guarani,4,2,SP,RJ,SP,2003
1,1,2003-03-29,16:00,Athletico-PR,Gremio,NaN,NaN,NaN,NaN,Athletico-PR,2,0,PR,RS,PR,2003
2,1,2003-03-30,16:00,Flamengo,Coritiba,NaN,NaN,NaN,NaN,-,1,1,RJ,PR,-,2003
3,1,2003-03-30,16:00,Goias,Paysandu,NaN,NaN,NaN,NaN,-,2,2,GO,PA,-,2003
4,1,2003-03-30,16:00,Internacional,Ponte Preta,NaN,NaN,NaN,NaN,-,1,1,RS,SP,-,2003

In [123]:
# Apesar de ser uma boa prática utilizar o .drop, podemos utilizar o del 
del df['vencedor']

In [124]:
df.head()

,rodada,data,hora,mandante,visitante,formacao_mandante,formacao_visitante,tecnico_mandante,tecnico_visitante,mandante_placar,visitante_placar,mandante_estado,visitante_estado,estado_vencedor,ano_jogo
0,1,2003-03-29,16:00,Guarani,Vasco,NaN,NaN,NaN,NaN,4,2,SP,RJ,SP,2003
1,1,2003-03-29,16:00,Athletico-PR,Gremio,NaN,NaN,NaN,NaN,2,0,PR,RS,PR,2003
2,1,2003-03-30,16:00,Flamengo,Coritiba,NaN,NaN,NaN,NaN,1,1,RJ,PR,-,2003
3,1,2003-03-30,16:00,Goias,Paysandu,NaN,NaN,NaN,NaN,2,2,GO,PA,-,2003
4,1,2003-03-30,16:00,Internacional,Ponte Preta,NaN,NaN,NaN,NaN,1,1,RS,SP,-,2003

**É importante ressaltar que precisamos ter muito cuidado ao excluir uma coluna , visto que, as vezes, com o avanço da análise essa pode passar a ser importante**

In [125]:
# Adicionar novas colunas pode ser bastante interessante, para uma análise, podemos, por exemplo, criar uma coluna com uma condicional, neste conjunto de
#dados, poderíamos criar uma coluna mandante_vencedor, sempre que o mandante_placar fosse maior que o visitante_placar. 
df['país'] = "Brasil"
#Dessa maneira. o df vai buscar uma coluna chamada pais, não encontrará, e criará uma.

In [126]:
df.head(2)

,rodada,data,hora,mandante,visitante,formacao_mandante,formacao_visitante,tecnico_mandante,tecnico_visitante,mandante_placar,visitante_placar,mandante_estado,visitante_estado,estado_vencedor,ano_jogo,país
0,1,2003-03-29,16:00,Guarani,Vasco,NaN,NaN,NaN,NaN,4,2,SP,RJ,SP,2003,Brasil
1,1,2003-03-29,16:00,Athletico-PR,Gremio,NaN,NaN,NaN,NaN,2,0,PR,RS,PR,2003,Brasil

In [127]:
df.columns

Index(['rodada', 'data', 'hora', 'mandante', 'visitante', 'formacao_mandante',
       'formacao_visitante', 'tecnico_mandante', 'tecnico_visitante',
       'mandante_placar', 'visitante_placar', 'mandante_estado',
       'visitante_estado', 'estado_vencedor', 'ano_jogo', 'país'],
      dtype='object')

In [128]:
# Agora tudo começa a ficar interessante, vamos criar uma coluna que conte quantos gols tem na partida. 
df["gols_partida"] = df["mandante_placar"] + df["visitante_placar"]

In [129]:
# Visualizando  anova coluna
df.head()

,rodada,data,hora,mandante,visitante,formacao_mandante,formacao_visitante,tecnico_mandante,tecnico_visitante,mandante_placar,visitante_placar,mandante_estado,visitante_estado,estado_vencedor,ano_jogo,país,gols_partida
0,1,2003-03-29,16:00,Guarani,Vasco,NaN,NaN,NaN,NaN,4,2,SP,RJ,SP,2003,Brasil,6
1,1,2003-03-29,16:00,Athletico-PR,Gremio,NaN,NaN,NaN,NaN,2,0,PR,RS,PR,2003,Brasil,2
2,1,2003-03-30,16:00,Flamengo,Coritiba,NaN,NaN,NaN,NaN,1,1,RJ,PR,-,2003,Brasil,2
3,1,2003-03-30,16:00,Goias,Paysandu,NaN,NaN,NaN,NaN,2,2,GO,PA,-,2003,Brasil,4
4,1,2003-03-30,16:00,Internacional,Ponte Preta,NaN,NaN,NaN,NaN,1,1,RS,SP,-,2003,Brasil,2

In [130]:
# Criando Um DataFrame, documentação = pandas.DataFrame(data=None, index=None, columns=None, dtype=None, copy=None)
df1= pd.DataFrame(columns=["ano", "marca", "modelo"])

In [131]:
# Note que ja temos um DataFrame, porém sem observações. 
df1.head()

Empty DataFrame
Columns: [ano, marca, modelo]
Index: []

In [132]:
# Conferindo com dtype, se realmente é um dtype = df 
type(df1)

pandas.core.frame.DataFrame

In [133]:
# Para criar um DataFrame, é muito importante o conceito de coleções, podemos criar um df, utilizando listas: 
df1.loc[0] = [2022, "Toyota", "Corolla"]
df1.loc[1] = [2021, "Volks", "Gol"]
df1.loc[2] = [2020, "Chevrolet", "Prisma"]

In [134]:
# Verificando o df formado por listas. 
df1.head()

    ano      marca   modelo
0  2022     Toyota  Corolla
1  2021      Volks      Gol
2  2020  Chevrolet   Prisma

In [135]:
# Um outro jeito de fazer, utiliza tanto as listas como o dict: 
df_com_dict = {"ano": [2022,2021,2020,],
               "marca": ["toyota", "Volks", "Chevrolet"],
               "modelo": ["Corolla", "Gol", "Prisma"]}

In [136]:
#Então, basicamente criamos uma variável do tipo dict, e armazenamos as colunas, nas chaves, e os valores, nos valores a = {coluna:valor}
#Para que isso funcione, é necessário que tenha a mesma quantidade de valores, nas chaves. (3 anos, 3 marcas e 3 modelos)
type(df_com_dict)

dict

In [137]:
# E por fim, chamamos o método pd.DataFrame(variavel_em_formato_de_dict), isto é, passamos a variável que criamos como parâmetro. 
df2 = pd.DataFrame(df_com_dict)

In [138]:
# Comparando
df2.head()

    ano      marca   modelo
0  2022     toyota  Corolla
1  2021      Volks      Gol
2  2020  Chevrolet   Prisma

In [139]:
#Comparando 
df1.head()

    ano      marca   modelo
0  2022     Toyota  Corolla
1  2021      Volks      Gol
2  2020  Chevrolet   Prisma

In [140]:
# Sorting DataFrames 
df.head()

,rodada,data,hora,mandante,visitante,formacao_mandante,formacao_visitante,tecnico_mandante,tecnico_visitante,mandante_placar,visitante_placar,mandante_estado,visitante_estado,estado_vencedor,ano_jogo,país,gols_partida
0,1,2003-03-29,16:00,Guarani,Vasco,NaN,NaN,NaN,NaN,4,2,SP,RJ,SP,2003,Brasil,6
1,1,2003-03-29,16:00,Athletico-PR,Gremio,NaN,NaN,NaN,NaN,2,0,PR,RS,PR,2003,Brasil,2
2,1,2003-03-30,16:00,Flamengo,Coritiba,NaN,NaN,NaN,NaN,1,1,RJ,PR,-,2003,Brasil,2
3,1,2003-03-30,16:00,Goias,Paysandu,NaN,NaN,NaN,NaN,2,2,GO,PA,-,2003,Brasil,4
4,1,2003-03-30,16:00,Internacional,Ponte Preta,NaN,NaN,NaN,NaN,1,1,RS,SP,-,2003,Brasil,2

In [141]:
#Método sort.values documentação: DataFrame.sort_values(by, axis=0, ascending=True, inplace=False, kind='quicksort', na_position='last', ignore_index=False, key=None)

In [142]:
# Este Método coloca em ordem crescente:
df["mandante_placar"].sort_values()

5435    0
1760    0
5149    0
5153    0
5159    0
       ..
617     7
65      7
1504    7
1002    7
1262    7
Name: mandante_placar, Length: 7645, dtype: int64

In [143]:
# Uma maneira mais visual de realizar a mesma coisa, é utilizando o parâmetro by, deste método: 
df.sort_values(by="mandante_placar") # by escolhe a coluna, e organiza em ordem crescente por default

,rodada,data,hora,mandante,visitante,formacao_mandante,formacao_visitante,tecnico_mandante,tecnico_visitante,mandante_placar,visitante_placar,mandante_estado,visitante_estado,estado_vencedor,ano_jogo,país,gols_partida
5435,7,2016-06-12,19:00,Santa Cruz,Santos,4-2-3-1,4-2-3-1,D. Silvestre Júnior,D. Silvestre Júnior,0,2,PE,SP,SP,2016,Brasil,2
1760,20,2006-08-27,16:00,Corinthians,Gremio,NaN,NaN,NaN,NaN,0,2,SP,RS,RS,2006,Brasil,2
5149,17,2015-08-09,11:02,Vasco,Joinville,4-2-3-1,4-2-3-1,P. Lopes de Gusmão,P. Lopes de Gusmão,0,0,RJ,SC,-,2015,Brasil,0
5153,17,2015-08-09,16:02,Goias,Atletico-MG,4-2-2-2,4-2-3-1,L. Culpi,L. Culpi,0,0,GO,MG,-,2015,Brasil,0
5159,18,2015-08-12,21:00,Goias,Chapecoense,4-2-3-1,4-3-2-1,V. Eutrópio,V. Eutrópio,0,0,GO,SC,-,2015,Brasil,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
617,6,2004-05-16,16:00,Criciuma,Goias,NaN,NaN,NaN,NaN,7,2,SC,GO,SC,2004,Brasil,9
65,6,2003-04-27,16:00,Goias,Juventude,NaN,NaN,NaN,NaN,7,0,GO,RS,GO,2003,Brasil,7
1504,37,2005-11-06,16:00,Corinthians,Santos,NaN,NaN,NaN,NaN,7,1,SP,SP,SP,2005,Brasil,8
1002,38,2004-10-27,20:30,Fluminense,Juventude,NaN,NaN,NaN,NaN,7,1,RJ,RS,RJ,2004,Brasil,8
1262,15,2005-07-27,21:45,Athletico-PR,Vasco,NaN,NaN,NaN,NaN,7,2,PR,RJ,PR,2005,Brasil,9

In [144]:
#Assim, temos todas as observações relacionadas, com neste caso, a mandantes placar organizadas de forma crescente.

In [145]:
# Beleza, e se for interessante, organizar de maneira decrescente, essa mesma informação ? Para isso, utilizamos o parâmetro ascending=True, que por padrão 
# esta True, que provavelmente significa uma ordenação do menor para o maior, como podemos observar. Então, vamos colocar False: 
df.sort_values(by="mandante_placar", ascending=False)

,rodada,data,hora,mandante,visitante,formacao_mandante,formacao_visitante,tecnico_mandante,tecnico_visitante,mandante_placar,visitante_placar,mandante_estado,visitante_estado,estado_vencedor,ano_jogo,país,gols_partida
936,33,2004-09-28,20:30,Sao Paulo,Paysandu,NaN,NaN,NaN,NaN,7,0,SP,PA,SP,2004,Brasil,7
617,6,2004-05-16,16:00,Criciuma,Goias,NaN,NaN,NaN,NaN,7,2,SC,GO,SC,2004,Brasil,9
65,6,2003-04-27,16:00,Goias,Juventude,NaN,NaN,NaN,NaN,7,0,GO,RS,GO,2003,Brasil,7
1002,38,2004-10-27,20:30,Fluminense,Juventude,NaN,NaN,NaN,NaN,7,1,RJ,RS,RJ,2004,Brasil,8
1262,15,2005-07-27,21:45,Athletico-PR,Vasco,NaN,NaN,NaN,NaN,7,2,PR,RJ,PR,2005,Brasil,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1926,37,2006-11-26,16:00,Botafogo-RJ,Corinthians,NaN,NaN,NaN,NaN,0,0,RJ,SP,-,2006,Brasil,0
1930,37,2006-11-26,16:00,Sao Caetano,Parana,NaN,NaN,NaN,NaN,0,2,SP,PR,PR,2006,Brasil,2
6372,25,2018-09-16,16:03,Santos,Sao Paulo,4-2-3-1,4-2-3-1,D. Aguirre Camblor,D. Aguirre Camblor,0,0,SP,SP,-,2018,Brasil,0
3710,25,2011-09-21,21:50,Sao Paulo,Corinthians,NaN,NaN,NaN,NaN,0,0,SP,SP,-,2011,Brasil,0
4584,36,2013-11-24,20:30,Internacional,Coritiba,NaN,NaN,NaN,NaN,0,0,RS,PR,-,2013,Brasil,0

In [146]:
# Caso for interessante, podemos utilizar aquele parâmetro que ja conhecemos, o inplace e salvar a alteração: 
df.sort_values(by="mandante_placar", ascending=False, inplace=True)

In [147]:
df.head()

,rodada,data,hora,mandante,visitante,formacao_mandante,formacao_visitante,tecnico_mandante,tecnico_visitante,mandante_placar,visitante_placar,mandante_estado,visitante_estado,estado_vencedor,ano_jogo,país,gols_partida
936,33,2004-09-28,20:30,Sao Paulo,Paysandu,NaN,NaN,NaN,NaN,7,0,SP,PA,SP,2004,Brasil,7
617,6,2004-05-16,16:00,Criciuma,Goias,NaN,NaN,NaN,NaN,7,2,SC,GO,SC,2004,Brasil,9
65,6,2003-04-27,16:00,Goias,Juventude,NaN,NaN,NaN,NaN,7,0,GO,RS,GO,2003,Brasil,7
1002,38,2004-10-27,20:30,Fluminense,Juventude,NaN,NaN,NaN,NaN,7,1,RJ,RS,RJ,2004,Brasil,8
1262,15,2005-07-27,21:45,Athletico-PR,Vasco,NaN,NaN,NaN,NaN,7,2,PR,RJ,PR,2005,Brasil,9

In [148]:
# será que é possível organizar duas colunas de uma só vez ? 
df.sort_values(by=["mandante_placar","visitante_placar"], ascending=False, inplace=True)

In [149]:
df.head(10)

,rodada,data,hora,mandante,visitante,formacao_mandante,formacao_visitante,tecnico_mandante,tecnico_visitante,mandante_placar,visitante_placar,mandante_estado,visitante_estado,estado_vencedor,ano_jogo,país,gols_partida
617,6,2004-05-16,16:00,Criciuma,Goias,NaN,NaN,NaN,NaN,7,2,SC,GO,SC,2004,Brasil,9
1262,15,2005-07-27,21:45,Athletico-PR,Vasco,NaN,NaN,NaN,NaN,7,2,PR,RJ,PR,2005,Brasil,9
1002,38,2004-10-27,20:30,Fluminense,Juventude,NaN,NaN,NaN,NaN,7,1,RJ,RS,RJ,2004,Brasil,8
1504,37,2005-11-06,16:00,Corinthians,Santos,NaN,NaN,NaN,NaN,7,1,SP,SP,SP,2005,Brasil,8
936,33,2004-09-28,20:30,Sao Paulo,Paysandu,NaN,NaN,NaN,NaN,7,0,SP,PA,SP,2004,Brasil,7
65,6,2003-04-27,16:00,Goias,Juventude,NaN,NaN,NaN,NaN,7,0,GO,RS,GO,2003,Brasil,7
1876,32,2006-11-01,19:30,Athletico-PR,Vasco,NaN,NaN,NaN,NaN,6,4,PR,RJ,PR,2006,Brasil,10
23,2,2003-04-06,18:00,Vasco,Goias,NaN,NaN,NaN,NaN,6,4,RJ,GO,RJ,2003,Brasil,10
5749,1,2017-05-14,16:04,Bahia,Athletico-PR,4-2-3-1,3-4-1-2,P. Autuori de Mello,P. Autuori de Mello,6,2,BA,PR,BA,2017,Brasil,8
125,11,2003-06-01,16:00,Parana,Flamengo,NaN,NaN,NaN,NaN,6,2,PR,RJ,PR,2003,Brasil,8

In [150]:
# Beleza, mas e se eu precisar que uma coluna esteja em ordem crescente, e a outra em ordem descrescente ?  
df.sort_values(by=["mandante_placar","visitante_placar"], ascending=[False, True], inplace=True) # Note que nesse tipo de situação é muito bom utilizar as listas. 
# E sempre bom lembrar, que se estamos passando "mandante_placar" primeiro, o primeiro parâmetro do ascending estará relacionado ao primeiro parâmetro do by.

In [151]:
df.head()

,rodada,data,hora,mandante,visitante,formacao_mandante,formacao_visitante,tecnico_mandante,tecnico_visitante,mandante_placar,visitante_placar,mandante_estado,visitante_estado,estado_vencedor,ano_jogo,país,gols_partida
936,33,2004-09-28,20:30,Sao Paulo,Paysandu,NaN,NaN,NaN,NaN,7,0,SP,PA,SP,2004,Brasil,7
65,6,2003-04-27,16:00,Goias,Juventude,NaN,NaN,NaN,NaN,7,0,GO,RS,GO,2003,Brasil,7
1002,38,2004-10-27,20:30,Fluminense,Juventude,NaN,NaN,NaN,NaN,7,1,RJ,RS,RJ,2004,Brasil,8
1504,37,2005-11-06,16:00,Corinthians,Santos,NaN,NaN,NaN,NaN,7,1,SP,SP,SP,2005,Brasil,8
617,6,2004-05-16,16:00,Criciuma,Goias,NaN,NaN,NaN,NaN,7,2,SC,GO,SC,2004,Brasil,9

In [152]:
# Com isso, nitidamente nosso index ficou bagunçado, porém temos um método que resolverá este problema: DataFrame.sort_index
df.sort_index(ascending = True, inplace = True)

In [153]:
# Então, basicamente o nosso sort.index(), arrumou tudo de volta, e então temos o df que tinhamos antes de brincar com o sort_values. 
df.head()

,rodada,data,hora,mandante,visitante,formacao_mandante,formacao_visitante,tecnico_mandante,tecnico_visitante,mandante_placar,visitante_placar,mandante_estado,visitante_estado,estado_vencedor,ano_jogo,país,gols_partida
0,1,2003-03-29,16:00,Guarani,Vasco,NaN,NaN,NaN,NaN,4,2,SP,RJ,SP,2003,Brasil,6
1,1,2003-03-29,16:00,Athletico-PR,Gremio,NaN,NaN,NaN,NaN,2,0,PR,RS,PR,2003,Brasil,2
2,1,2003-03-30,16:00,Flamengo,Coritiba,NaN,NaN,NaN,NaN,1,1,RJ,PR,-,2003,Brasil,2
3,1,2003-03-30,16:00,Goias,Paysandu,NaN,NaN,NaN,NaN,2,2,GO,PA,-,2003,Brasil,4
4,1,2003-03-30,16:00,Internacional,Ponte Preta,NaN,NaN,NaN,NaN,1,1,RS,SP,-,2003,Brasil,2

In [154]:
# Método unique(), nos retorna os valores únicos, de uma coluna. Por exemplo, será que só existe jogo as 16:00 ?  
df.hora.unique()
# Isso nos mostra, todos os diferentes horários que aconteceram os jogos.

array(['16:00', '18:00', '21:40', '20:30', '09:00', '15:00', '19:00',
       '17:00', '21:30', '21:45', '18:30', '15:30', '21:50', '18:10',
       '19:30', '16:30', '22:00', '20:00', '00:00', '16:10', '18:20',
       '19:10', '21:00', '21:10', '16:20', '22:50', '18:28', '18:31',
       '20:59', '15:59', '15:58', '16:02', '18:33', '18:32', '16:01',
       '18:29', '18:27', '16:04', '21:01', '22:02', '16:15', '19:31',
       '21:02', '22:03', '19:32', '21:03', '16:03', '18:34', '18:35',
       '19:33', '19:28', '20:56', '21:59', '22:01', '19:29', '19:34',
       '19:37', '20:58', '19:27', '20:27', '20:29', '16:21', '16:24',
       '16:22', '21:04', '21:06', '22:29', '16:19', '16:59', '17:01',
       '17:02', '20:02', '17:03', '16:33', '17:05', '11:00', '11:03',
       '11:02', '10:59', '21:58', '16:32', '11:01', '15:01', '21:05',
       '19:21', '11:04', '17:07', '17:59', '18:03', '18:01', '20:21',
       '18:14', '17:57', '21:47', '21:46', '20:31', '20:34', '19:59',
       '18:02', '19:17', '21:32', '19:01', '16:07', '21:44', '20:01',
       '16:31', '20:33', '19:15', '21:33', '16:17', '16:18', '21:13',
       '16:57', '17:06', '17:04', '19:02', '16:06', '18:59', '19:04',
       '16:05', '20:03', '18:58', '19:35', '21:49', '10:50', '19:03',
       '19:05', '10:13', '20:18', '21:31', '21:27', '16:29', '12:03',
       '10:53', '16:40', '19:16', '14:08', '13:58', '11:58', '17:19',
       '11:21', '14:14', '15:11', '15:24', '19:19', '13:22', '11:11',
       '11:06', '13:25', '13:23', '12:01', '12:06', '14:12', '19:51',
       '17:58', '16:08', '10:57', '10:40', '09:43', '12:57', '19:46',
       '21:29', '13:00', '20:32', '17:30', '19:14', '18:15', '18:18',
       '18:16', '09:02', '18:45', '17:29', '18:13', '20:28', '17:10',
       '09:50'], dtype=object)

In [155]:
# Um pouco parecido, podemos querer saber, não quais os diferentes horários, mas quantos diferentes horários ocorreram os jogos: 
df["hora"].nunique()   #documentação = DataFrame.nunique(axis=0, dropna=True)
# Ou seja, durante todos os campeonatos brasileiros observados, jogos começaram em 176 horários diferentes.

176

In [156]:
# Se passarmos o df.nunique(), sem especificar uma coluna, ele nos retornará a quantidade de elementos unicos de cada coluna: 
df.nunique()
# isso nos dá uma visão macro, de todo o conjunto de dados.

rodada                  46
data                  1711
hora                   176
mandante                45
visitante               45
formacao_mandante       21
formacao_visitante      20
tecnico_mandante       178
tecnico_visitante      178
mandante_placar          8
visitante_placar         8
mandante_estado         15
visitante_estado        15
estado_vencedor         16
ano_jogo                19
país                     1
gols_partida            12
dtype: int64

In [157]:
# Este método nunique(), possui uma capacidade que eu estava curioso para descobrir, que é a de dados faltantes: 
df.nunique(dropna=True) # Primeiro tire os faltantes, e depois conta

rodada                  46
data                  1711
hora                   176
mandante                45
visitante               45
formacao_mandante       21
formacao_visitante      20
tecnico_mandante       178
tecnico_visitante      178
mandante_placar          8
visitante_placar         8
mandante_estado         15
visitante_estado        15
estado_vencedor         16
ano_jogo                19
país                     1
gols_partida            12
dtype: int64

In [158]:
# Ou podemos passar o parâmetro df.nunique(dropna=False), e este não considera os faltantes. 
df.nunique(dropna= False)

rodada                  46
data                  1711
hora                   176
mandante                45
visitante               45
formacao_mandante       22
formacao_visitante      21
tecnico_mandante       179
tecnico_visitante      179
mandante_placar          8
visitante_placar         8
mandante_estado         15
visitante_estado        15
estado_vencedor         16
ano_jogo                19
país                     1
gols_partida            12
dtype: int64

In [159]:
# nlargest; documentação = DataFrame.nlargest(n, columns, keep='first'); 
df.nlargest(5, "visitante_placar") # Pega a coluna que passamos, e nos mostra N observações, em ordem descrescente.

,rodada,data,hora,mandante,visitante,formacao_mandante,formacao_visitante,tecnico_mandante,tecnico_visitante,mandante_placar,visitante_placar,mandante_estado,visitante_estado,estado_vencedor,ano_jogo,país,gols_partida
450,38,2003-10-22,21:40,Bahia,Santos,NaN,NaN,NaN,NaN,4,7,BA,SP,SP,2003,Brasil,11
547,46,2003-12-14,16:00,Bahia,Cruzeiro,NaN,NaN,NaN,NaN,0,7,BA,MG,MG,2003,Brasil,7
2457,14,2008-07-17,20:30,Figueirense,Gremio,NaN,NaN,NaN,NaN,1,7,SC,RS,RS,2008,Brasil,8
1362,24,2005-09-07,21:45,Cruzeiro,Fluminense,NaN,NaN,NaN,NaN,2,6,MG,RJ,RJ,2005,Brasil,8
1453,32,2005-10-16,16:00,Flamengo,Sao Paulo,NaN,NaN,NaN,NaN,1,6,RJ,SP,SP,2005,Brasil,7

In [160]:
# Da mesma maneira, como ja vimos podemos fazer com o sort_values, com o parãmetro ascending false. 
df.sort_values("visitante_placar", ascending = False).head(10)

,rodada,data,hora,mandante,visitante,formacao_mandante,formacao_visitante,tecnico_mandante,tecnico_visitante,mandante_placar,visitante_placar,mandante_estado,visitante_estado,estado_vencedor,ano_jogo,país,gols_partida
2457,14,2008-07-17,20:30,Figueirense,Gremio,NaN,NaN,NaN,NaN,1,7,SC,RS,RS,2008,Brasil,8
450,38,2003-10-22,21:40,Bahia,Santos,NaN,NaN,NaN,NaN,4,7,BA,SP,SP,2003,Brasil,11
547,46,2003-12-14,16:00,Bahia,Cruzeiro,NaN,NaN,NaN,NaN,0,7,BA,MG,MG,2003,Brasil,7
1362,24,2005-09-07,21:45,Cruzeiro,Fluminense,NaN,NaN,NaN,NaN,2,6,MG,RJ,RJ,2005,Brasil,8
1542,40,2005-11-20,18:10,Ponte Preta,Palmeiras,NaN,NaN,NaN,NaN,2,6,SP,SP,SP,2005,Brasil,8
1946,1,2007-05-12,18:10,Figueirense,Athletico-PR,NaN,NaN,NaN,NaN,3,6,SC,PR,PR,2007,Brasil,9
1453,32,2005-10-16,16:00,Flamengo,Sao Paulo,NaN,NaN,NaN,NaN,1,6,RJ,SP,SP,2005,Brasil,7
5793,5,2017-06-08,20:01,Chapecoense,Gremio,4-1-4-1,4-2-3-1,Renato Gaúcho,Renato Gaúcho,3,6,SC,RS,RS,2017,Brasil,9
7040,16,2020-10-14,21:30,Sport,Internacional,4-4-1-1,4-2-3-1,E. Coudet,E. Coudet,3,5,PE,RS,RS,2020,Brasil,8
7228,35,2021-02-08,20:00,Botafogo-RJ,Gremio,4-4-2,4-2-3-1,Renato Gaúcho,Renato Gaúcho,2,5,RJ,RS,RS,2021,Brasil,7

**Método Estatísticos**

In [161]:
df.head()

,rodada,data,hora,mandante,visitante,formacao_mandante,formacao_visitante,tecnico_mandante,tecnico_visitante,mandante_placar,visitante_placar,mandante_estado,visitante_estado,estado_vencedor,ano_jogo,país,gols_partida
0,1,2003-03-29,16:00,Guarani,Vasco,NaN,NaN,NaN,NaN,4,2,SP,RJ,SP,2003,Brasil,6
1,1,2003-03-29,16:00,Athletico-PR,Gremio,NaN,NaN,NaN,NaN,2,0,PR,RS,PR,2003,Brasil,2
2,1,2003-03-30,16:00,Flamengo,Coritiba,NaN,NaN,NaN,NaN,1,1,RJ,PR,-,2003,Brasil,2
3,1,2003-03-30,16:00,Goias,Paysandu,NaN,NaN,NaN,NaN,2,2,GO,PA,-,2003,Brasil,4
4,1,2003-03-30,16:00,Internacional,Ponte Preta,NaN,NaN,NaN,NaN,1,1,RS,SP,-,2003,Brasil,2

In [163]:
# Métodod describe, documentação = DataFrame.describe(percentiles=None, include=None, exclude=None, datetime_is_numeric=False)
df.describe()
# Ele nos retorna, um resumo das principais estatísticas referentes as colunas com valores numéricos.

,rodada,mandante_placar,visitante_placar,ano_jogo,gols_partida
count,7645.000000,7645.000000,7645.000000,7645.000000,7645.000000
mean,20.196207,1.554088,1.027338,2011.556573,2.581426
std,11.489249,1.234262,1.030366,5.672267,1.649832
min,1.000000,0.000000,0.000000,2003.000000,0.000000
25%,10.000000,1.000000,0.000000,2006.000000,1.000000
50%,20.000000,1.000000,1.000000,2011.000000,2.000000
75%,30.000000,2.000000,2.000000,2016.000000,4.000000
max,46.000000,7.000000,7.000000,2021.000000,11.000000

In [164]:
# O parâmetro include, desde método, nos permite analisar as principais estatísticas das colunas que tem valores não numéricos. 
df.describe(include='O')

,hora,mandante,visitante,formacao_mandante,formacao_visitante,tecnico_mandante,tecnico_visitante,mandante_estado,visitante_estado,estado_vencedor,país
count,7645,7645,7645,2671,2671,3035,3035,7645,7645,7645,7645
unique,176,45,45,21,20,178,178,15,15,16,1
top,16:00,Sao Paulo,Flamengo,4-2-3-1,4-2-3-1,V. Carmo Mancini,V. Carmo Mancini,SP,SP,-,Brasil
freq,1808,371,372,1600,1525,100,100,1907,1907,2015,7645

In [165]:
# Pode ser interessante pra gente, ter uma visão de todas as informações juntas, isto é, as estatísticas das colunas com valores numericos er não numericas 
df.describe(include="all")

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.

,rodada,data,hora,mandante,visitante,formacao_mandante,formacao_visitante,tecnico_mandante,tecnico_visitante,mandante_placar,visitante_placar,mandante_estado,visitante_estado,estado_vencedor,ano_jogo,país,gols_partida
count,7645.000000,7645,7645,7645,7645,2671,2671,3035,3035,7645.000000,7645.000000,7645,7645,7645,7645.000000,7645,7645.000000
unique,NaN,1711,176,45,45,21,20,178,178,NaN,NaN,15,15,16,NaN,1,NaN
top,NaN,2021-11-11 00:00:00,16:00,Sao Paulo,Flamengo,4-2-3-1,4-2-3-1,V. Carmo Mancini,V. Carmo Mancini,NaN,NaN,SP,SP,-,NaN,Brasil,NaN
freq,NaN,27,1808,371,372,1600,1525,100,100,NaN,NaN,1907,1907,2015,NaN,7645,NaN
first,NaN,2003-03-29 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
last,NaN,2021-12-12 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,20.196207,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.554088,1.027338,NaN,NaN,NaN,2011.556573,NaN,2.581426
std,11.489249,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.234262,1.030366,NaN,NaN,NaN,5.672267,NaN,1.649832
min,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,NaN,NaN,NaN,2003.000000,NaN,0.000000
25%,10.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,0.000000,NaN,NaN,NaN,2006.000000,NaN,1.000000
50%,20.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,1.000000,NaN,NaN,NaN,2011.000000,NaN,2.000000
75%,30.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.000000,2.000000,NaN,NaN,NaN,2016.000000,NaN,4.000000
max,46.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.000000,7.000000,NaN,NaN,NaN,2021.000000,NaN,11.000000

In [166]:
# Repare, que muitas das informações que o decribe(), nos dá, nós podemos aplciar diretamente. Por exemplo: 
df.count()

rodada                7645
data                  7645
hora                  7645
mandante              7645
visitante             7645
formacao_mandante     2671
formacao_visitante    2671
tecnico_mandante      3035
tecnico_visitante     3035
mandante_placar       7645
visitante_placar      7645
mandante_estado       7645
visitante_estado      7645
estado_vencedor       7645
ano_jogo              7645
país                  7645
gols_partida          7645
dtype: int64

In [168]:
#Assim como podemos, também, especificar o método que queremos, e a coluna: 
df.mandante_placar.count()

7645

In [172]:
# Método cumsum, documentação = DataFrame.cumsum(axis=None, skipna=True, *args, **kwargs)
df.mandante_placar.cumsum()
# Valores acumulados de uma determinada coluna
#Somente para colunas com valores numéricos

0           4
1           6
2           7
3           9
4          10
        ...
7640    11874
7641    11875
7642    11876
7643    11880
7644    11881
Name: mandante_placar, Length: 7645, dtype: int64

In [173]:
#Correlação Entre colunas !! Muito importante; documentação = DataFrame.corr(method='pearson', min_periods=1)
df.corr()

,rodada,mandante_placar,visitante_placar,ano_jogo,gols_partida
rodada,1.000000,0.031835,0.000950,-0.080811,0.024410
mandante_placar,0.031835,1.000000,0.053820,-0.118687,0.781726
visitante_placar,0.000950,0.053820,1.000000,-0.074769,0.664791
ano_jogo,-0.080811,-0.118687,-0.074769,1.000000,-0.135486
gols_partida,0.024410,0.781726,0.664791,-0.135486,1.000000

In [174]:
# Podemos também, analisar a correlação entre duas colunas específicas, passando uma como parâmetro do método corr.()
df.mandante_placar.corr(df.visitante_placar)

0.05382011617741608

In [175]:
# Método de agregação, documentação = DataFrame.agg(func=None, axis=0, *args, **kwargs)
df.agg(func="mean")
# este método vai agregar uma ou mais operações, no eixo específico.

/usr/local/lib/python3.7/dist-packages/pandas/core/apply.py:577: FutureWarning: DataFrame.mean and DataFrame.median with numeric_only=None will include datetime64 and datetime64tz columns in a future version.
  return f(*args, **kwargs)
/usr/local/lib/python3.7/dist-packages/pandas/core/apply.py:577: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  return f(*args, **kwargs)

rodada                20.196207
mandante_placar        1.554088
visitante_placar       1.027338
ano_jogo            2011.556573
gols_partida           2.581426
dtype: float64

In [176]:
# Ele nos retorna a informação passada como parâmetro,neste caso: (func=mean), de todas as variáveis numéricas. 
# Podemos também passar mais de uma informação, neste caso, a média e mais u, por exemplo, e para isso precisamos utilizar uma lista. 
df.agg(func=["mean", "min", "max"])

,rodada,data,hora,mandante,visitante,mandante_placar,visitante_placar,mandante_estado,visitante_estado,estado_vencedor,ano_jogo,país,gols_partida
mean,20.196207,2012-03-12 00:34:50.778286336,NaN,NaN,NaN,1.554088,1.027338,NaN,NaN,NaN,2011.556573,NaN,2.581426
min,1.000000,2003-03-29 00:00:00.000000000,00:00,America-MG,America-MG,0.000000,0.000000,AL,AL,-,2003.000000,Brasil,0.000000
max,46.000000,2021-12-12 00:00:00.000000000,22:50,Vitoria,Vitoria,7.000000,7.000000,SP,SP,SP,2021.000000,Brasil,11.000000

In [177]:
# É como se nós escolhessemos as informações necessárias, do método describe, isso pode ser importante para o storytelling, e visualização dos dados.

In [178]:
# Podemos utilizar também o conceito de dict, junto com o método agregador, para escolher as colunas desejadas(chave), e as estatísticas(valor): 
df.agg({"mandante_placar":["min", "max", "mean","std"],"visitante_placar":["min", "max", "mean", "std"]})

      mandante_placar  visitante_placar
min          0.000000          0.000000
max          7.000000          7.000000
mean         1.554088          1.027338
std          1.234262          1.030366

**Fim da primeira etapa, do capítulo análise de dados com pandas. Agora, vamos aos exercícios !**